<style>
    .projectPost {
        padding-top: 38px;
        padding-right: 0;
    }
    .projectPost .form-gourp-ol {
        margin: 0px;
        padding: 0px;
        list-style-type: decimal;
    }
    .projectPost fieldset {
        position: relative;
        margin: 0px 0px 50px;
    }
    .projectPost > ol legend {
        padding-left: 40px;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .projectPost .form-step {
        position: relative;
        padding-bottom : 20px;
        margin-bottom: 0px ;
        list-style: outside none none;
    }
    .li-number{
        display: block;
        background: #33B5E6 none repeat scroll 0% 0%;
        color: #fff;
        width: 30px;
        height: 30px;
        text-align: center;
        font-weight: bold;
        border-radius: 50%;
        line-height: 30px;
    }
    #projectForm, #projectForm ol {
        padding-right: 0;
    }
    #projectForm > ol > li{
        list-style: outside none none;
        width: 100%;
    }
    #projectForm > ol > li > ol {
        list-style: outside none none;
    }
    #projectForm select {
        display: inline-block;
        width: 100%;
        border-style: solid;
        border-width: 1px;
        color: #616161;
        border-color : #D1D1D1;
        background-color: #fff;
        box-shadow: none;
        border-radius: 3px;
        height: 40px;
        padding: 0px 0px 0px 12px;
    }
    #projectForm label {
        display: block;
        font-weight: bold;
        margin-bottom: 10px;
        line-height: 22px;
        overflow-y: hidden;
    }
    #projectForm [type="text"]{
        display: inline-block;
        width: 100%;
        color: #616161;
        border-color: #D1D1D1;
        background-color: #fff;
        border-radius: 3px;
        height: 40px;
        padding: 0 12px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;

    }

    .ribon {
        position: absolute;
        top:0;
        right:0;
        margin: 0;
    }
    .projectFeature {
        display: block;
        margin-bottom: 8px;
        cursor: pointer;
        border: 2px solid #eee;
        padding: 24px;
        position: relative;
        background: #fff;
        min-height: 150px;
    }
    .projectFeature:hover{
        transition: border-color 0.5s ease-in-out 0s, box-shadow 0.5s ease-in-out 0s;
        border-color: #33B5E6 !important;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #33B5E6 !important;
    }
    .featureCheck {
        float: right;
        margin-top: 10%;
        margin-left: 3%;
        margin-right: 0;
        margin-bottom: 0;
    }
    .featureTitle {
        width: 55%;
        margin-left: 5%;
        float: right;
        color: #333;
        line-height: 1.5;
    }
    .featureCopy {
        width: 65%;
        margin-top: 12px;
        margin-left: 5%;
        float: right;
        line-height: 1.5;
        color: #666;
        font-size: 80%;
    }
    .featureAmount {
        width: 10%;
        margin-left: 10%;
        float: left;
        clear: none;
        color:#666;
    }
    .btn-post{
        background-color: #33B5E6;
        border-color: #3291bf;
        color: #fff;
    }
    .btn-post:hover{
        background-color: #33a4d5;
        border-color: #27779d;
        color: #fff;
    }


/*DATEPICKER STYLE*/
.ll-skin-santiago {
    font-size: 90%;
}

.ll-skin-santiago .ui-widget {
    font-family: Helvetica Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}

.ll-skin-santiago .ui-datepicker {
    padding: 0;
}

.ll-skin-santiago .ui-widget-content {
    border: none;
    background: #fff;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.19);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.19);
    box-shadow: 0 1px 3px rgba(0,0,0,.19);
}

.ll-skin-santiago .ui-datepicker-header {
    font-family: "Myriad Pro", sans-serif;
    color: #fff;
    padding: 0;
    border-top: 1px solid #b42b0c;
    border-bottom: none;
    overflow: hidden;
    text-transform: uppercase;
    text-shadow: 0 -1px 0 rgba(0,0,0,.35);
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IzMmIwYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NkMzAwYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(bottom, #b32b0b 0%, #cd300c 100%);
    background-image: -o-linear-gradient(bottom, #b32b0b 0%, #cd300c 100%);
    background-image: -webkit-linear-gradient(bottom, #b32b0b 0%, #cd300c 100%);
    background-image: linear-gradient(bottom, #b32b0b 0%, #cd300c 100%);
}

.ll-skin-santiago .ui-datepicker-header .ui-state-hover {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

.ll-skin-santiago .ui-datepicker .ui-datepicker-title {
    line-height: 2.2em;
    font-weight: normal;
}

.ll-skin-santiago .ui-datepicker .ui-datepicker-prev, 
.ll-skin-santiago .ui-datepicker .ui-datepicker-next {
    top: -1px;
    background: #d33e13;
    border-radius: 0;
    font-weight: normal;
    border: none;
    height: 2.2em;
    width: 1.4em;
}

.ll-skin-santiago .ui-datepicker .ui-datepicker-prev.ui-state-hover,
.ll-skin-santiago .ui-datepicker .ui-datepicker-next.ui-state-hover {
    background: #ba2c0c;
}

.ll-skin-santiago .ui-datepicker .ui-datepicker-prev {
    left: 0;
    border-right: 1px solid #a6280b;
}

.ll-skin-santiago .ui-datepicker .ui-datepicker-next {
    right: 0;
    border-left: 1px solid #a6280b;
}

.ll-skin-santiago .ui-datepicker .ui-datepicker-prev span, 
.ll-skin-santiago .ui-datepicker .ui-datepicker-next span {
    margin-top: -4px;
    top: 40%;
}

.ll-skin-santiago .ui-icon-circle-triangle-e {
    background-image: url(images/ui-icons_ffffff_256x240.png);
    background-position: -32px 0;
}

.ll-skin-santiago .ui-icon-circle-triangle-w {
    background-image: url(images/ui-icons_ffffff_256x240.png);
    background-position: -96px 0;
}

.ll-skin-santiago .ui-datepicker table {
    margin: 0;
}

.ll-skin-santiago .ui-datepicker th {
    padding: .6em 0 .4em;
    text-transform: uppercase;
    color: #bbb;
    font-family: "Myriad Pro";
    font-weight: normal;
    font-size: .8em;
    border-top: 1px solid #e6e6e6;
}

.ll-skin-santiago .ui-datepicker td {
    border: none;
    border-top: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    padding: 0;
}

.ll-skin-santiago td:last-child {
    border-right: 0;
}

.ll-skin-santiago td .ui-state-default {
    background: transparent;
    border: none;
    color: #2b2b2b;
    margin: 0;
    font-family: "Myriad Pro", sans-serif;
    font-weight: normal;
    text-align: center;
}

.ll-skin-santiago .ui-datepicker-calendar .ui-state-hover {
    background: #ededed;
    color: #b2b2b2;
}

.ll-skin-santiago td a.ui-state-active,
.ll-skin-santiago td a.ui-state-active.ui-state-hover {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.45);
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IzMmIwYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NkMzAwYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(bottom, #b32b0b 0%, #cd300c 100%);
    background-image: -o-linear-gradient(bottom, #b32b0b 0%, #cd300c 100%);
    background-image: -webkit-linear-gradient(bottom, #b32b0b 0%, #cd300c 100%);
    background-image: linear-gradient(bottom, #b32b0b 0%, #cd300c 100%);
}

/*END of DATEPICKER STYLE*/

.form-control:focus {
      border-color: #33B5E6 !important;
      /*box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #33B5E6 !important;*/
      border: 3px solid;
}

.helper-tooltip {
    width: 200px;
    height: 100px;
    padding: 10px;
    position: absolute;
    left: -200px;
    top: -30px;
    background-color: #F6F6F6;
    color: #111;
    border: 1px solid #e6e6e6;
}
.dateShow {
    display:inline-block;
    min-height:290px;
    direction:rtl;
    width: 100%;
    text-align: center;
    position: relative;
}
.datepicker {
    left: 25%;
    position: absolute;
}
select option:hover {
    background-color: #33B5E6;
}
legend {
    color: #666;
}
#projectForm label {
    color: #757575;
}
select > option:hover {
    background-color: #c1c1c1;
}
</style>

<div class="container">
    <div class="col-md-12">
        <div class="col-md-12 projectPost">
            <form id="projectForm" class="col-md-12">
                <ol class="form-group-ol">
                    <li>
                        <div class="col-md-1 col-sm-1 col-xs-1">
                             <span class="li-number">
                            ۱
                             </span>
                        </div>
                        <fieldset class="col-md-11">
                            <legend>
موضوع پروژه خود را مشخص کنید
                            </legend>
                            <ol>
                                <li class="form-step" style="position: relative;">
                                    <select id="project-category" name="skill-category" class="form-control" ng-model="project.category" ng-options="c.seoview for c in categories" ng-mouseover="helper1 = true" ng-mouseleave="helper1 = false">
                                    </select>
                                </li>
                            </ol>
                        </fieldset>
                    </li>

                    <li>
                        <div class="col-md-1 col-sm-1 col-xs-1">
                            <span class="li-number">
                            ۲
                        </span>
                        </div>

                        <fieldset class="col-md-11 col-sm-11 col-xs-11">
                            <legend>
در مورد پروژه خود بیشتر توضیح دهید
                            </legend>
                            <ol>
                                <li class="form-step">
                                    <label for="">
نام پروژه :
                                    </label>
                                    <input id="project-name" type="text" name="project_name" class="form-control" ng-model="project.title"></input>
                                </li>
                                <li class="form-step">
                                    <label for="">
                                        مهارت های مورد نیاز برای انجام این پروژه :
                                    </label>
                                     <md-chips collection='itemsCollection' ng-model='returnedValues' md-title='title' md-subtitle='subtitle' md-item='items'/>
                                </li>
                                <li class="form-step">
                                    <label for="">
در مورد پروژه بیشتر توضیح دهید :
                                    </label>
                                    <textarea id="project-desc" type="text" cols="80" rows="10" maxlength="5000" name="project_desc" style="height: auto;" class="form-control" ng-model="project.desc" ckeditor="editorOptions" ></textarea>
                                </li>

                            </ol>
                        </fieldset>
                    </li>

                    <li>
                        <div class="col-md-1 col-sm-1 col-xs-1">
                             <span class="li-number">
                            ۳
                             </span>
                        </div>
                        <fieldset class="col-md-11 col-sm-11 col-xs-11">
                            <legend>
برای این پروژه چقدر می خواهید هزینه کنید ؟
                            </legend>
                            <ol>
                                <li class="form-step">
                                    <select class="form-control" id="project-budget" name="project_budget" ng-model="project.budgetNumber">
                                        <option value='100' >
پروژه کوچک (۳۰،۰۰۰ - ۱۰۰،۰۰۰ تومان)
                                        </option>

                                        <option value='200' >
                                        پروژه نیمه متوسط (۱۰۰،۰۰۰ - ۵۰۰،۰۰۰ تومان)
                                        </option>

                                        <option value='300' >
                                          پروژه متوسط (۵۰۰،۰۰۰ - ۱،۰۰۰،۰۰۰ تومان)
                                        </option>
                                        <option value='400' >
                                          پروژه بزرگ ( بیش از ۱،۰۰۰،۰۰۰ تومان)
                                        </option>
                                    </select>
                                </li>
                            </ol>
                        </fieldset>
                    </li>

                    <li>
                        <div class="col-md-1 col-sm-1 col-xs-1">
                            <span class="li-number">
                            ۴
                        </span>
                        </div>

                        <fieldset class="col-md-11 col-sm-11 col-xs-11">
                            <legend>
                                زمان مدنظر شما برای اتمام پروژه :
                            </legend>
                            <ol>
                                <li class="form-step">
                                    <div class="dateShow"style="">
                                        <persian-datepicker class="ll-skin-santiago datepicker" ng-model="project.deadline"></persian-datepicker>
                                    </div>
                                </li>
                            </ol>
                        </fieldset>
                    </li>

                    <li>
                        <div class="col-md-1 col-sm-1 col-xs-1">
                            <span class="li-number">
                            ۵
                        </span>
                        </div>

                        <fieldset class="col-md-11 col-sm-11 col-xs-11">
                            <legend>
                                می خواهید پیشنهادات بهتری بگیرید ؟
                            </legend>
                            <ol>
                                <li class="form-step">

                                    <label class="col-md-12 projectFeature">

                                        <div class="ribon">
                                            <img alt="Featured Job" src="./images/featured.png">
                                        </div>
                                        <div class="featureCheck">
                                            <input type="checkbox" name="featured" ng-model="project.featured">
                                        </div>
                                        <p class="featureTitle">
                                            بله !  پروژه من را برای مدت ۳۰ روز به صورت برجسته نمایش بده .
                                        </p>
                                        <p class="featureCopy">
لورم ایپزام داس ایست لورم ایپزام داس ایست شونلورم ایپزام داس ایست شونلورم ایپزام داس ایست شون ...
                                        </p>
                                        <p class="featureAmount">
                                            ۲۰ هزار تومان
                                        </p>

                                    </label>

                                </li>
                            </ol>
                        </fieldset>
                    </li>
                </ol>
            </form>

            <span class="col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
                <input type="submit" value="ثبت پروژه" class="btn btn-action" style="font-size: 17px; letter-spacing: 1px;width: 100%" ng-click="postProject(project)">
            </span>
        </div>
    </div>
</div>

