<style>
    .NavTabPanel {
            background: #848484 none repeat scroll 0% 0%;
            border-bottom: 0 none;
            height: 45px;
    }
    .SecondaryNavList{
        padding-right: 0;
        margin: 0;
        padding-left: 1px;
        height: inherit;
    }
    .SecondaryNavList li:first-child {
        padding-right: 0;
    }
    .SecondaryNavList li {
        padding: 14px 30px 14px 0px;
        display: inline-block;
        line-height: 1em;
        position: relative;
        margin-left: 40px;
    }
    .SecondaryNavList .isCurrent a {
        color: #fff;
        font-size: 12px;
    }
    .SecondaryNavList a {
        outline: 0 none;
        cursor: pointer;
    }
    .navbar {
      margin-bottom : 0 !important;
    }
    article {
        border-bottom : 1px solid #E0E0E0;
    }
    .pt-nav {
        padding-top: 90px;
    }
    
</style>
<div class="" ng-controller="headerProfileController">
<section class="pt-nav">
	<div class="NavTabPanel">
		<div class="col-md-9 col-sm-9 padding-right-0">
			<div class="col-md-9 col-sm-9 col-xs-12" style="padding-right:55px;">
                <ul class="SecondaryNavList">
                    <li class="" ng-class="{isCurrent: myCtrlCurrent}">
                        <a class="NavLink" data-ng-href="{{userProfilePage}}">
                            پروفایل
                        </a>
                    </li>
                    <li class="" ng-class="{isCurrent: bidsCtrlCurrent}">
                        <a class="NavLink" data-ng-href="{{userProjectPage}}">
                            پروژه
                        </a>
                    </li>
                    <li class="">
                        <a class="NavLink">
                            پیغام
                        </a>
                    </li>
                </ul>
            </div>
		</div>
	</div>
</section>