<style>
/*------------------------- intro --------------------------*/
.landIntro {
  font-family: IRANSans-web !important;
  background: url(/images/temp-bg.jpg);
  background-position: center;
  width: 100%;
  background-size: cover;
  border-bottom: none;
  position: relative;
  text-align: center;
  min-height: 720px;
  height: 100%;
}
.landIntro h1 {
  font-family: IRANSans-web;
  max-width: 680px;
  font-size: 30px;
  line-height: 60px;
  margin-bottom: 40px;
  font-weight: 400;
  color: #fff;
}
.data-holder {
  padding-right: 20%;
  padding-left: 10px;
  padding-top: 200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
  font-size: 16px;
  text-align: right;
}
.btn-white {
  background: #fff;
  color: #1c1c1c;
  border-radius: 0;
  font-size: 18px;
}

/*-------------- landing page community ---------------*/
#community {
  background: #00659A;
  color: #fff;
  text-align: center;
}
#community ul li .stat {
  position: relative;
  display: inline-block;
  font-style: normal;
  font-size: 2.62rem;
  line-height: 1.3;
  padding: 0 20px 0 62px;
  font-weight: normal;
}
#community ul li span {
  display: block;
  font-size: 2.25rem;
  padding: 0 20px;
}
.contribute-btn {
  display: inline-block;
  width: 290px;
  margin: 20px auto 60px auto;
  padding: 20px 60px;
  line-height: 1.3;
  text-align: center;
  font-size: 1.325rem;
  background: #0095dd;
  border-radius: 10px;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
}
.contribute-btn:link, .contribute-btn:visited {
  color: #fff;
}
.contribute-btn:hover {
  background: #fff;
  color: #0095dd;
  text-decoration: none;
  cursor: pointer;
}
#community ul {
  position: relative;
  list-style-type: none;
  margin: 0 auto;
  width: 100%;
  padding: 60px 0 40px 0;
  min-height: 250px;
}

#community ul li {
  float: left;
  margin: 20px 0;
  padding: 0;
}
#community [class^="ion-"] {
  display: inline-block;
  float: left;
  font-size: 6.5rem;
}
#community .number {
  display: inline-block;
  font-size: 5.25rem;
}

/*----------------- talents -------------------*/
#talents {
  background-color: #f6f4ec;
}
#talents h2 {
  font-size: 2.375rem;
  color: #484848;
  text-align: center;
  margin-bottom: 80px;
  letter-spacing: -1px;
}
#talents .inner-container {
  margin-bottom: 20px;
  min-height: 400px;
}
#talents .featured-talent {
  float: right;
  max-width: 670px; /*TO DO : media rules should be added*/
  display: block;
  margin-right: 0;
  text-align: left;
}
#talents .img-large {
  display: block;
  float: right;
  margin: 0 20px 0 0;
}
#talents .img-large img {
  display: block;
  width: 170px;
  height: 170px;
  background: #c13832;
  border: 5px solid #c13832;
  color: #fff;
  text-align: center;
  line-height: 1.1;
  border-radius: 100%;
  font-weight: normal;
  -webkit-transition: background .1s ease-in-out;
  transition: background .1s ease-in-out;
}
@media screen and (min-width: 252px) and (max-width: 352px){
    .container {
    width: 252px;
  }
  #talents .featured-talent .talent-detail {
    width: 200px !important;
 }  

 #talents .talent-list {
    width: 222px !important;
 }
 .more-large {
  display: inline-block !important;
  width: 100% !important;
 }
 .contribute-btn {
  width: 100% !important;
 }
}
@media screen and (min-width: 352px) and (max-width: 420px){
  .container {
    width: 352px;
  }
  #talents .featured-talent .talent-detail {
    width: 300px !important;
 }  

 #talents .talent-list {
    width: 322px !important;
 }
 .more-large {
  width: 100% !important;
 }
 .contribute-btn {
  width: 100% !important;
 }
}
#talents .featured-talent .talent-detail {
  width: 300px; /*media rules should be added */
  float: right;
  text-align: right;
  margin-right: 30px;
}
#talents .talent-detail a {
  display: block;
}
#talents .talent-detail h4 {
  font-size: 1.75rem;
  color: #565a5c;
  line-height: 1.2;
}
#talents .talent-detail p {
  font-weight: normal;
  color: #b1b1ad;
  font-size: 20px;
  font-size: 1.25rem;
  float: right;
}
#talents .talent-info {
  font-weight: normal;
  color: #b1b1ad;
  font-size: 1.25rem;
}
#talents .talent-info.location {
  display: block;
  position: relative;
  margin-top: 5px; 
}
#talents .talent-list {
  float: right;
  width: 390px; /*todo media rules */
  margin: 0;
  list-style-type: none;
  /*width: 60%;*/
  padding: 0;
  text-align: left;
}
#talents .talent-list li {
  margin: 10px 0;
  padding: 0;
  float: right;
  width: 100%;
}
#talents .talent-list li a {
  display: block;
  position: relative;
  margin-bottom: 20px;
}
#talents .talent-list .img-med img {
  display: block;
  float: right;
  width: 75px;
  height: 75px;
  /*padding: 10px 5px;*/
  border: 2px solid #c13832;
  color: #565a5c;
  text-align: center;
  line-height: 1.1;
  border-radius: 100%;
  font-weight: normal;
}
#talents .img-large img , #talents .img-med img {
  width: 100%;
  height: 100%;
}
#talents .talent-list .talent-detail {
  padding: 0 20px 0 80px;
  margin: 0;  
  float: right;
  text-align: right;
}
#talents .talent-list .talent-detail h3 {
  display: block;
  margin: 0;
  padding: 0;
  color: #565a5c;
  font-size: 1.375rem;
  line-height: 1.1;
}
#talents .talent-list .talent-info p {
  color: #b1b1ad;
}
.more-large {
  display: block;
  min-width: 200px;
  width: 290px;
  margin: 20px auto;
  padding: 15px 40px;
  /*line-height: 1.3;*/
  text-align: center;
  font-size: 1.325rem;
  background: #f6f4ec;
  border: 2px solid #e3e1d9;
  border-radius: 10px;
  color: #0095dd;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.more-large:hover, .more-large:active, .more-large:focus {
  border: 2px solid #0095dd;
  cursor: pointer;
  text-decoration: none;
  color: #0095dd;
}

/*------------------------- milestone --------------------------*/
#milestone {
  background-color: #E3E3E3;
}
#milestone ul, #ig ul {
  position: relative;
  list-style-type: none;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0 40px 0;
}
#milestone ul li, #ig ul li {
  float: right;
  margin: 0;
  padding: 0;
  padding-bottom: 60px;
}
#milestone a {
  position: relative;
  display: block;
  padding: 0 50px;
  text-align: center;
}
#milestone h2 {
  position: relative;
  font-size: 1.5rem;
  color: #484848;
  padding-top: 100px;
}
#milestone p {
  color: #484848;
  font-size: 1rem;
  margin-top: 20px;
}
#milestone h2::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 84px;
  background: url(/images/secondary-icon-sprite.png) no-repeat center top;
}
#milestone a.project-scope h2::before {
  background-position: center 0;
}
#milestone a.project-talents h2::before {
  background-position: center -86px;
}
#milestone a.project-completion h2::before {
  background-position: center -172px;
}
#milestone [class^="ion-"] {
  position: absolute;
  right: -33px;
  top: -22px;
  font-size: 12rem;
  color: #4B5CB0;
}
/*----------------------- newsletter -----------------------*/
#newsletter {
  background: #c13832;
  color: #fff;
  /*padding: 40px; // sections should not have padding*/
}
#newsletter .newsletter-form {
  float: left;
  width: 100%;
  margin: 0 10px;
  /*margin-left: 570px;*/
  padding-top: 20px;
}
#newsletter *::-moz-placeholder {
  color: #ccc;
  font-weight: normal;
}
#newsletter .billboard {
      background: transparent;
      border: 0;
      padding: 0;
      padding-top: 30px;
      box-shadow: none;
}
#newsletter .form-title {
  float: right;
  width: 100%;

  background: url(https://www.mozilla.org/media/img/newsletter/mozorg-newsletter.svg) right top no-repeat;
  -webkit-background-size: 150px 150px;
  background-size: 150px 150px;

  margin-top: -20px;
  min-height: 120px;
  padding: 10px 170px 80px 0;
  text-align: left;
  text-shadow: none;
  max-width: 50%;
}
#newsletter .form-content {
  float: left;
  display: block;
  max-width: 50%;
  width: 380px;
}
#newsletter .field-email {
  float: left;
  display: block;
  width: 100%;
}
#newsletter h3 {
  padding: 0;
  text-align: left;
}
#newsletter .form-title h3 {
  font-size: 40px;
  font-size: 2.5rem;
  margin: 0 0 1em;
}
#newsletter .form-title h4 {
  font-size: 24px;
  font-size: 1.3rem;
  line-height: 1.5;
}
#newsletter h3, #newsletter h4 {
  color: #fff;
  text-shadow: none;  
  text-align: right;
}
#newsletter .form-contents {
  float: none;
  width: auto;
  margin: 0 10px;
}
#newsletter .field {
  margin-bottom: 10px;
}
#newsletter input[type="email"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: none;
  font-size: 15px;
  font-size: 1.4rem;
  border: 0;
  padding: .75em 20px;
  width: 100%;
  height: 45px;
  background: #fff;
  transition: all linear .1s;
  line-height: 1.1; 
  color: #333;
  text-align: left;
  direction: ltr;
}
#newsletter .form-submit {
  float: left;
  width: 380px;
  margin: 0;
  max-width: 50%;
}
/* --------------------------------IG-------------------------------- */
#ig img {
  min-width: 300px;
  min-height: 300px;
}

input.form-button[type="submit"], button.form-button {
  position: relative;
  display: inline-block;
  color: #fff;
  border-color: #fff;
  overflow: visible;
  background: 0;
  padding: 10px 36px;
  border-radius: 4px;
  font-size: 1.25rem;
  text-align: center;
  cursor: pointer;
  text-shadow: none;
  border: 2px solid #0095dd;
  width: 100%;
  max-height: 45px;
  transition: background-color .1s ease-in-out;
}
input.form-button.light[type="submit"], button.form-button.light {
    color: #fff;
    border-color: #fff;
}
input.form-button.light[type="submit"]:hover, button.form-button.light:hover, input.form-button.light[type="submit"]:focus, button.form-button.light:focus {
  color: #f4f4f4;
  border-color: #f4f4f4;
  text-decoration: none;
}
.super-bold {
  font-weight: 700;
  font-style: bold;
  font-size: 200%;
}
</style>
<div ng-include src="'views/navbar.html'"></div>
<section>
    <section id="intro">
      <div class="landIntro">
        <div class="container">
          <div class="data-holder">
            <h1>دسترسی آسان و نامحدود شما</h1>
            <!-- <h1>به بهترین <span class="super-bold">[</span>برنامه نویس های وب<span class="super-bold">]</span> ایران</h1> -->
            <h1>به حرفه ای ترین مترجمین ایران</h1>
            <a class="contribute-btn" href="/signup">
        همین امروز بیا شروع کنیم !
        </a>
          </div>
        </div>
      </div>
    </section>
    <!-- <section id="ig">
      <div class="container">
        <ul>
          <li class="col-md-4 col-sm-4 col-xs-12" ng-repeat="post in posts">
            <a class="" ng-href="https://instagram.com/p/{{post.img_code}}">
              <img class="" ng-src="{{post.thumbnail_src}}"/>
            </a>
          </li>
        </ul>
      </div>
    </section> -->
    <!-- <section id="milestone">
      <div class="container">
        <ul>
          <li class="col-md-4 col-sm-4 col-xs-12">
            <a class="project-scope" href="/add">
              <h2>
                تعریف پروژه
              </h2>
              <p>
              پروژه خود را تعریف کنید و به صورت رایگان در کمتر از چند ساعت مظنه انجام آنرا از متخصص ترین برنامه نویس ها دریافت کنید.
              </p>
            </a>
          </li>
          <li class="col-md-4 col-sm-4 col-xs-12">
            <a class="project-talents" href="/add">
            <span class="ion-ios-arrow-thin-left hidden-xs"></span>
              <h2>
                انتخاب بهترین فری لسنر
              </h2>
              <p>
                از بین پیشنهاد های موجود پیشنهادی متناسب با نیاز خود را انتخاب کرده و آماده برای انجام پروژه همراه فری لنسر متخصص باشید.
              </p>
            </a>
          </li>
          <li class="col-md-4 col-sm-4 col-xs-12">
            <a class="project-completion" href="/add">
            <span class="ion-ios-arrow-thin-left hidden-xs"></span>
              <h2>
                انجام کامل پروژه شما
              </h2>
              <p>
                سابقه و تخصص نیرو های فری لنسر فعال در گیگاکار ضامن بهترین کیفیت با معقول ترین هزینه برای کسب رضایت شماست.
              </p>
            </a>
          </li>
        </ul>
      </div>
    </section> -->
    <!-- <section id="talents">
      <div class="container">
        <h2>
          برنامه نویسان برجسته
        </h2>
        <div class="inner-container">
          <div class="featured-talent">
            <a class="img-large">
              <span>
                <img ng-src="/img-upload/1471282898083Screen Shot 2016-08-15 at 10.09.19 PM.png"></img>
              </span>
            </a>
            <div class="talent-detail">
              <a href="">
                <h4>
                  ناصر عبداللهی
                </h4>
              </a>
              <span class="talent-info">
                
              </span>
              <span class="talent-info location">
                <p>
                  ایشون خیلی خوبن !
                </p>
              </span>
            </div>
          </div>
          <ul class="talent-list">
            <li>
              <a class="img-med">
                <span>
                  <img ng-src="/img-upload/1471282970920Screen Shot 2016-08-15 at 10.10.26 PM.png"></img>
                </span>
              </a>
              <div class="talent-detail">
                <h3>
                مهدی
                </h3>
                <span class="talent-info location">
                  <p>
                  تهران، ایران
                  </p>
                </span>
              </div>
            </li>
            <li>
              <a class="img-med">
                <span>
                  <img ng-src="/img-upload/1471282917362Screen Shot 2016-08-15 at 10.09.40 PM.png"></img>
                </span>
              </a>
              <div class="talent-detail">
                <h3>
                صالح
                </h3>
                <span class="talent-info location">
                  <p>
                  اصفهان، ایران
                  </p>
                </span>
              </div>
            </li>
            <li>
              <a class="img-med">
                <span>
                  <img ng-src="/img-upload/1471282929916Screen Shot 2016-08-15 at 10.09.55 PM.png"></img>
                </span>
              </a>
              <div class="talent-detail">
                <h3>
                فرشاد
                </h3>
                <span class="talent-info location">
                  <p>
                  مشهد، ایران
                  </p>
                </span>
              </div>
            </li>
          </ul>
        </div>
        <a class="more-large" href="/browse">
          لیست فری لنسر ها
        </a>
      </div>
    </section> -->
    <!-- <section id="community" class="landStatistic">
      <div class="container">
      <ul>
        <li class="col-md-4 col-sm-12 col-xs-12">
          <span class="stat contributars">
            <span class="ion-social-wordpress"></span>
            <span class="number">۱،۰۰۰</span>
          </span>
          <span>
          برنامه نویس برتر
          <br></br>
          </span>
        </li>
        <li class="col-md-4 col-sm-12 col-xs-12">
          <span class="stat organizations">
            <span class="ion-android-favorite"></span>
            <span class="number">۵۰</span>
          </span>
          <span>
            پروژه موفق
          </span>
        </li>
        <li class="col-md-4 col-sm-12 col-xs-12">
          <span class="stat countries">
            <span class="ion-android-globe"></span>
            <span class="number">۸</span>
          </span>
          <span>
            شهر سراسر ایران
          </span>
        </li>
      </ul>
      <span class="">
        <a class="contribute-btn" href="/login">
        همین امروز بیا شروع کنیم !
        </a>
      </span>
      </div>
    </section> -->
    <!-- <section id="newsletter" class="hidden-xs">
      <div class="container">
        <form id="newsletter-form" class="billboard newsletter-form footer-newsletter-form hidden-xs">
          <div class="form-title">
            <h3>
              داغ ترین خبر های دور کاری
            </h3>
            <h4>
            ما هفته ای ۲ بار لیست ترند ترین پروژه ها، مقالات و آموزش ها رو می فرستیم.
            </h4>
          </div>
          <div class="form-content">
            <div class="field field-email">
              <input id="id_email" type="email" name="email" placeholder="{{newsletterPlaceHolder}}" required="required">
            </div>
          </div>
          <div class="form-submit">
            <input id="footer_email_submit" class="form-button light" type="submit" value="{{newsletterSignUpValue}}"></input>
          </div>
        </form>
      </div>
    </section> -->
  </section>