<style>
	h1, h2, h3, h4, h5, p {
		color: #666;
	}
	.ion-edit {
		cursor: pointer;
	}
	.ion-edit:hover{
		color: #33B5E6;
	}
	.o-profile{
		min-height: 500px;
	}
	.avatar{
		border: 2px solid #7D7D7D;
		border-radius: 50%;

	}
	.avatar-lg{
		width: 100px;
		height: 100px;
		margin: 20px;
		padding: 0;
	}
	.o-profile-skills {
		margin-left: -10px;
		min-height: 30px;
		position: relative;
	}
	.p-lg-left{
		padding-left: 40px !important;
	}
	.o-break-word{
		word-wrap : break-word;
	}
	.o-white-space-pre-line {
		white-space: pre-line;
	}
	.air-card{
		background-color: #FFF;
		margin: 40px -40px;
		padding: 40px;
		box-shadow: 0px 0px 0px 1px #E0E0E0;
	}
	.air-card > h2 {
		line-height: 34px;
		margin-bottom: 40px;
	}
	.upper-body {
		margin-bottom: 40px;
	}
	.circle-edit-button {
		border-radius: 50%;
		left: 10px;
		top: -5px;
		margin: 0.15em;
		background: #70CBED none repeat scroll 0% 0%;
		color: #FFF;
		padding: 5px;
		width: 20px;
		height: 20px;
		line-height: 10px;
		cursor: pointer;
		position: absolute;
		font-size: 10px;
	}
	.circle-remove-button {
		left: 40px !important;
		background-color: #666 !important;
	}
	.partial {
		min-height: 50px;
		padding: 0;
		margin: 0;
		margin-bottom: 10px;
		position: relative;
	}
	.text-muted {font-size: 80%;}


</style>

<!-- resume-add -->

<script type="text/ng-template" id="resume-add.html">
<div class="modal-header">
            <h3 class="modal-title"> رزومه من </h3>
</div>
<div class="modal-body" style="min-height:400px;">
	<div class="col-md-12">
		<div class="col-md-6">
	        <label> 
	            عنوان
	        </label>
	        <input class="form-control" data-ng-model="resume.title"></input>
	        <label>
	            	سال شروع
	        </label>
	        <select class="form-control" label="" data-ng-model="resume.start">
	        	<option value="1393">1393</option>
	        	<option value="1392">1392</option>
	    	</select>
		</div>
		<div class="col-md-6">
			<label>
				موضوع 
			</label>
			<input class="form-control" data-ng-model="resume.category"></input>
			<label>
				سال اتمام
			</label>
			<select class="form-control" label="" data-ng-model="resume.finish">
				<option value="0">...</option>
				<option value="1394">1394</option>
				<option value="1393">1393</option>
			</select>
		</div>
		<div class="col-md-12">
			<label>
				توضیحات
			</label>	
			<textarea class="form-control" rows="10" data-ng-model="resume.desc"></textarea>
		</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-lg btn-action" ng-click="add_resume()"> ثبت </button>
    <button class="btn btn-lg btn-link" ng-click="cancel()"> انصراف </button>
</div>
</div>
</script>

<!-- resume-edit -->

<script type="text/ng-template" id="resume-edit.html">
<div class="modal-header">
            <h3 class="modal-title"> تغییر رزومه </h3>
</div>
<div class="modal-body" style="min-height:400px;">
	<div class="col-md-12">
		<div class="col-md-6">
	        <label> 
	            عنوان
	        </label>
	        <input class="form-control" data-ng-model="resume.title"></input>
	        <label>
	            	سال شروع
	        </label>
	        <select class="form-control" label="" data-ng-model="resume.start">
	        	<option value="1393">1393</option>
	        	<option value="1392">1392</option>
	    	</select>
		</div>
		<div class="col-md-6">
			<label>
				موضوع 
			</label>
			<input class="form-control" data-ng-model="resume.category"></input>
			<label>
				سال اتمام
			</label>
			<select class="form-control" label="" data-ng-model="resume.finish">
				<option value="0">...</option>
				<option value="1394">1394</option>
				<option value="1393">1393</option>
			</select>
		</div>
		<div class="col-md-12">
			<label>
				توضیحات
			</label>	
			<textarea class="form-control" rows="10" data-ng-model="resume.desc"></textarea>
		</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-lg btn-action" ng-click="add_resume()"> ثبت </button>
    <button class="btn btn-lg btn-link" ng-click="cancel()"> انصراف </button>
</div>
</div>
</script>

<!-- edu-add -->

<script type="text/ng-template" id="edu-add.html">
<div class="modal-header">
            <h3 class="modal-title"> مدرک تحصیلی</h3>
</div>
<div class="modal-body" style="min-height:350px;">
	<div class="col-md-12">
        <label> 
            نام دانشگاه 
        </label>
        <input class="form-control" data-ng-model="edu.name"></input>
    </div>
		<div class="col-md-6" style="">
			<label>
				سال ورود 
			</label>
			<select class="form-control" data-ng-model="edu.start">
				<option class="" label="" value="1390">1390</option>
			</select>
		</div>
		<div class="col-md-6" style="">
			<label>
				سال اتمام
			</label>
			<select class="form-control" data-ng-model="edu.finish">
				<option class="" label="" value="1394">1394</option>
			</select>
		</div>
	<div class="col-md-12">
		<label> 
			مدرک
		</label>
		<input class="form-control" data-ng-model="edu.grade"></input>
		<label>
			رشته تحصیلی
		</label>
		<input class="form-control" data-ng-model="edu.field"></input>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-lg btn-action" ng-click="add_edu()"> ثبت </button>
    <button class="btn btn-lg btn-link" ng-click="cancel()"> انصراف </button>
</div>
</div>
</script>


<!-- summary edit -->


<script type="text/ng-template" id="summary-edit.html">
<div class="modal-header">
            <h3 class="modal-title"> خلاصه فعالیت ها </h3>
</div>
<div class="modal-body" style="min-height:100px;">
	<div class="col-md-12">
        <label> 
            فعالیت ها
        </label>
       <textarea class="form-control" ng-model='summary'></textarea>
    </div>
    
</div>
<div class="modal-footer">
    <button class="btn btn-lg btn-action" ng-click="update_summary()"> ثبت </button>
    <button class="btn btn-lg btn-link" ng-click="cancel()"> انصراف </button>
</div>
</div>
</script>



<script type="text/ng-template" id="skills-edit.html">
	<style>
		.chipsInput {
			width: 100%;
			border-color: rgb(51, 181, 230) !important;
			border-width: 3px;
			border-style: solid;
		}
	</style>
<div class="modal-header">
            <h3 class="modal-title"> مهارت های من </h3>
</div>
<div class="modal-body" style="min-height:350px;">
	<div class="col-md-12">
        <label> 
           مهارت ها
        </label>
     	<md-chips collection='itemsCollection' ng-model='returnedValues' md-title='title' md-subtitle='subtitle' md-item='items'/>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-lg btn-action" ng-click="update_skills()"> ثبت </button>
    <button class="btn btn-lg btn-link" ng-click="cancel()"> انصراف </button>
</div>
</div>
</script>
<style>
	.NavTabPanel {
		background: #848484 none repeat scroll 0% 0%;
		border-bottom: 0 none;
		height: 45px;
	}
	.PageCentered {
		margin: 0 auto;
		position: relative;
		width: 960px;
		display: block;
		height: inherit;
	}
	.SecondaryNavList{
		padding-right: 0;
		margin: 0;
		padding-left: 1px;
		height: inherit;
	}
	.SecondaryNavList li:first-child {
		padding-right: 0;
	}
	.SecondaryNavList li {
		padding: 14px 30px 14px 0px;
		display: inline-block;
		line-height: 1em;
		position: relative;
	}
	.SecondaryNavList .isCurrent a {
		color: #fff;
		font-size: 12px;
	}
	.SecondaryNavList a {
		outline: 0 none;
		cursor: pointer;
	}
	.navbar {
      margin-bottom : 0 !important;
    }
	.NavLink:hover {
		color: #fff;
	}
</style>
<section class="">
	<div class="NavTabPanel">
		<!-- <nav class="PageCentered">
			<ul class="SecondaryNavList">
				<li class="">
					<a class="NavLink isCurrent" data-ng-href="/myprojects/{{user._id}}">
						پروژه 
					</a>
				</li>
				<li class="">
					<a class="NavLink isCurrent">
						پیغام
					</a>
				</li>
				<li class="">
					<a class="NavLink isCurrent">
						پیشنهاد
					</a>
				</li>
				<li class="isCurrent">
					<a class="NavLink isCurrent">
						پروفایل
					</a>
				</li>
			</ul>
		</nav> -->
        <div class="col-md-9 col-sm-9">
			<div class="col-md-3 col-sm-3 hidden-xs"></div>
			<div class="col-md-9 col-sm-9 col-xs-12" style="padding-right:5px;">
				<ul class="SecondaryNavList">
					<li class="">
						<a class="NavLink" data-ng-href="/myprojects/{{user._id}}">
							پروژه 
						</a>
					</li>
					<li class="">
						<a class="NavLink isCurrent">
							پیغام
						</a>
					</li>
					<li class="">
						<a class="NavLink isCurrent">
							پیشنهاد
						</a>
					</li>
					<li class=""  ng-class="{isCurrent: myCtrlCurrent}">
						<a class="NavLink"  ng-class="{isCurrent: myCtrlCurrent}" >
							پروفایل
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<div id="messageBox" class="container">
	<div ng-class="[message.category]" class="col-md-12 col-sm-12 col-xs-12 alert alert-dismissible" ng-repeat="message in messages" ng-if="!message.dismissed">
		<span ng-bind-html="message.content">
		</span>
		<span id="close">
	        <a title="dismiss" ng-click="message.dismissed = !message.dismissed">
	            x
	        </a>
	    </span>
	</div>
</div>

<div class="container">
	<div class="col-md-3">
		<h2 class="">
		</h2>
	</div>
	<div class="col-md-6">

	</div>
	<div class="col-md-3">

	</div>
</div>
<div class="container ng-cloak" ng-show="error">
	<h1> {{error}} </h1>
</div>
<div class="container o-profile" ng-hide="error">
	{{error}}
	<div class="col-md-9" ng-mouseover="trigger_in();" ng-mouseleave="trigger_out();">
		<div class="col-md-12 upper-body">
			<div class="pull-right">
				<img id="user-portrait" class="avatar avatar-lg" src="/images/upload_ba306abb08424caa55618b897c7710ef.png"></img>
			<form action="/upload" ng-upload="completed()"
			ng-upload-loading="loading();">
    			<input type="file" name="file"></input>
     			<input type='submit' value='Upload'
        ng-disabled="$isUploading"></input>
   			</form>
   			{{response}}
			</div>
			<div class="media-body">
				<div class="row">
					<div class="col-md-8">
						<h3> {{user.firstName}} </h3>
						<h4> {{user.email}} </h4>
					</div>
					<div class="col-md-4">

					</div>
				</div>
				<div class="o-profile-skills">
					<a class="blueLink tag" 
					ng-repeat="tag in user.tags" 
					ng-html="/browse/tag/{{tag}}">

						{{tag}}

					</a>
					<span class="ng-cloak" ng-hide="user.tags">
						شما مهارتی اضافه نکره اید
					</span>

					<!-- edit button  -->

					<i class="ion-plus circle-edit-button ng-cloak" 
					ng-show="is_edit_open" 
					ng-click="skills_edit_open('lg');">
					</i>

				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="air-card">
				<legend>
					<span> خلاصه فعالیت ها </span>
					<i class="ion-plus circle-edit-button ng-cloak" ng-show="is_edit_open" ng-click="summary_edit_open('lg');"></i>
				</legend>
				<section class="p-lg-left">
					<p class="o-break-word o-white-space-pre-line" ng-show="user.summary">
						{{user.summary}}
					</p>
					<p class="o-break-word o-white-space-pre-line ng-cloak" ng-hide="user.summary">
						شما فعالیتی در رزومه خود اضافه نکرده اید 
					</p>
				</section>
			</div>
			<div class="air-card">
				<legend>
					<span> رزومه کاری </span>
					<span class="">
						<i class="ion-plus circle-edit-button ng-cloak" ng-show="is_edit_open" ng-click="resume_add_open('lg');"></i>
					</span>
				</legend>
				<div class="" data-ng-hide="user.resumes[0].title">
					<strong>
						شما رزومه ای اضافه نکرده اید
					</strong>
				</div>
				<div class="" data-ng-show="user.resumes[0].title">
					<div class="partial" data-ng-repeat="resume in user.resumes track by $index">
						<span class="col-md-9">
							<strong>
								{{resume.title}}
							</strong>
							| 
							<strong>
								{{resume.category}}
							</strong>
						</span>
						<span class="col-md-3 text-muted">
							{{resume.finish}} - {{resume.start}}
						</span>
						<span class="col-md-9 text-muted">
							{{resume.desc}}
						</span>
						<i class="ion-edit circle-edit-button ng-cloak" ng-show="is_edit_open" ng-click="resume_edit_open('lg', $index);"></i>
						<i class="ion-close circle-edit-button circle-remove-button ng-cloak" ng-show="is_edit_open" ng-click="resume_remove(resume._id);"></i>
						
					</div>
				</div>
			</div>
			<div class="air-card">
				<legend>
					<span> تحصیلات </span>
					<span class="">
						<i class="ion-plus circle-edit-button ng-cloak" ng-show="is_edit_open" ng-click="edu_add_open('lg');"></i>
					</span>
				</legend>
				<div class="" data-ng-hide="user.educations[0].name">
					<strong>
						شما تحصیلاتی وارد نکرده اید
					</strong>
				</div>
				<div class="ng-cloak" data-ng-show="user.educations[0].name">
					<div class="partial" data-ng-repeat="edu in user.educations track by $index">
						<span class="col-md-9">
							<strong>
								{{edu.name}}
							</strong>
						</span>
						<span class="col-md-3 text-muted">
							{{edu.finish}} - {{edu.start}}
							<i class="ion-edit circle-edit-button ng-cloak" ng-show="is_edit_open" ng-click="edu_edit_open('lg', $index);"></i>
							<i class="ion-close circle-edit-button circle-remove-button ng-cloak" ng-show="is_edit_open" ng-click="edu_remove(edu._id);"></i>
						</span>
						<span class="col-md-12 text-muted">
							{{edu.grade}} - {{edu.field}}
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>