<style>
	h1, h2, h3, h4, h5, p {
		color: #666;
	}
	.ion-edit {
		cursor: pointer;
	}
	.ion-edit:hover{
		color: #33B5E6;
	}
	.expert-profile{
		min-height: 500px;
		margin-top: 50px;
	}
	.avatar{
		border: 2px solid #7D7D7D;
		border-radius: 50%;

	}
	.expert-profile-skills {
		margin-left: -10px;
		min-height: 30px;
		position: relative;
	}
	.p-lg-left{
		padding-left: 40px !important;
	}
	.o-break-word{
		word-wrap : break-word;
	}
	.o-white-space-pre-line {
		white-space: pre-line;
	}
	.air-card{
		background-color: #FFF;
		margin: 40px -40px;
		padding: 40px;
		box-shadow: 0px 0px 0px 1px #E0E0E0;
	}
	.air-card > h2 {
		line-height: 34px;
		margin-bottom: 40px;
	}
	.air-card:first-child {
		margin-top: 0;
	}
	.air-card.profile-pic {
		min-height: 500px;
	}
	.circle-edit-button {
		border-radius: 50%;
		left: 10px;
		top: 0;
		margin: 0.15em;
		background: #70CBED none repeat scroll 0% 0%;
		color: #FFF;
		padding: 5px;
		width: 20px;
		height: 20px;
		line-height: 10px;
		cursor: pointer;
		position: absolute;
		font-size: 10px;
	}
	.circle-remove-button {
		left: 40px !important;
		background-color: #666 !important;
	}
	.partial {
		min-height: 50px;
		padding: 0;
		margin: 0;
		margin-bottom: 10px;
		position: relative;
	}
	.text-muted {
		font-size: 80%;
	}
	.cropArea {
    	background: #E4E4E4;
    	overflow: hidden;
    	height:350px;
    	width: 100%;
	}
	.expert-profile-pic {
		border-radius: 4px;
		margin: 0 auto 20px;
		min-width: 200px;
		min-height: 200px;
	}
	.expert-profile .air-card {
		margin-right: 0;
		margin-left: 0;
	}


</style>

<!-- resume-add -->

<script type="text/ng-template" id="resume-add.html">
<div class="modal-header">
            <h3 class="modal-title"> رزومه من </h3>
</div>
<div class="modal-body" style="min-height:400px;">
	<div class="col-md-12">
		<div class="col-md-6">
	        <label> 
	            عنوان
	        </label>
	        <input class="form-control" data-ng-model="resume.title"></input>
	        <label>
	            	سال شروع
	        </label>
	        <select class="form-control" label="" data-ng-model="resume.start">
	        	<option value="1393">1393</option>
	        	<option value="1392">1392</option>
	    	</select>
		</div>
		<div class="col-md-6">
			<label>
				موضوع 
			</label>
			<input class="form-control" data-ng-model="resume.category"></input>
			<label>
				سال اتمام
			</label>
			<select class="form-control" label="" data-ng-model="resume.finish">
				<option value="0">...</option>
				<option value="1394">1394</option>
				<option value="1393">1393</option>
			</select>
		</div>
		<div class="col-md-12">
			<label>
				توضیحات
			</label>	
			<textarea class="form-control" rows="10" data-ng-model="resume.desc"></textarea>
		</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-lg btn-action" ng-click="add_resume()"> ثبت </button>
    <button class="btn btn-lg btn-link" ng-click="cancel()"> انصراف </button>
</div>
</div>
</script>

<!-- resume-edit -->

<script type="text/ng-template" id="resume-edit.html">
<div class="modal-header">
            <h3 class="modal-title"> تغییر رزومه </h3>
</div>
<div class="modal-body" style="min-height:400px;">
	<div class="col-md-12">
		<div class="col-md-6">
	        <label> 
	            عنوان
	        </label>
	        <input class="form-control" data-ng-model="resume.title"></input>
	        <label>
	            	سال شروع
	        </label>
	        <select class="form-control" label="" data-ng-model="resume.start">
	        	<option value="1393">1393</option>
	        	<option value="1392">1392</option>
	    	</select>
		</div>
		<div class="col-md-6">
			<label>
				موضوع 
			</label>
			<input class="form-control" data-ng-model="resume.category"></input>
			<label>
				سال اتمام
			</label>
			<select class="form-control" label="" data-ng-model="resume.finish">
				<option value="0">...</option>
				<option value="1394">1394</option>
				<option value="1393">1393</option>
			</select>
		</div>
		<div class="col-md-12">
			<label>
				توضیحات
			</label>	
			<textarea class="form-control" rows="10" data-ng-model="resume.desc"></textarea>
		</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-lg btn-action" ng-click="add_resume()"> ثبت </button>
    <button class="btn btn-lg btn-link" ng-click="cancel()"> انصراف </button>
</div>
</div>
</script>

<!-- edu-add -->

<script type="text/ng-template" id="edu-add.html">
<div class="modal-header">
            <h3 class="modal-title"> مدرک تحصیلی</h3>
</div>
<div class="modal-body" style="min-height:350px;">
	<div class="col-md-12">
        <label> 
            نام دانشگاه 
        </label>
        <input class="form-control" data-ng-model="edu.name"></input>
    </div>
		<div class="col-md-6" style="">
			<label>
				سال ورود 
			</label>
			<select class="form-control" data-ng-model="edu.start">
				<option class="" label="" value="1390">1390</option>
			</select>
		</div>
		<div class="col-md-6" style="">
			<label>
				سال اتمام
			</label>
			<select class="form-control" data-ng-model="edu.finish">
				<option class="" label="" value="1394">1394</option>
			</select>
		</div>
	<div class="col-md-12">
		<label> 
			مدرک
		</label>
		<input class="form-control" data-ng-model="edu.grade"></input>
		<label>
			رشته تحصیلی
		</label>
		<input class="form-control" data-ng-model="edu.field"></input>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-lg btn-action" ng-click="add_edu()"> ثبت </button>
    <button class="btn btn-lg btn-link" ng-click="cancel()"> انصراف </button>
</div>
</div>
</script>


<!-- summary edit -->


<script type="text/ng-template" id="summary-edit.html">
<div class="modal-header">
            <h3 class="modal-title"> خلاصه فعالیت ها </h3>
</div>
<div class="modal-body" style="min-height:100px;">
	<div class="col-md-12">
        <label> 
            فعالیت ها
        </label>
       <textarea class="form-control" ng-model='summary'></textarea>
    </div>
    
</div>
<div class="modal-footer">
    <button class="btn btn-lg btn-action" ng-click="update_summary()"> ثبت </button>
    <button class="btn btn-lg btn-link" ng-click="cancel()"> انصراف </button>
</div>
</div>
</script>

	<!-- skill edit -->


<script type="text/ng-template" id="skills-edit.html">
	<style>
		.chipsInput {
			width: 100%;
			border-color: rgb(51, 181, 230) !important;
			border-width: 3px;
			border-style: solid;
		}
	</style>
<div class="modal-header">
            <h3 class="modal-title"> مهارت های من </h3>
</div>
<div class="modal-body" style="min-height:350px;">
	<div class="col-md-12">
        <label> 
           مهارت ها
        </label>
     	<md-chips collection='itemsCollection' ng-model='returnedValues' md-title='title' md-subtitle='subtitle' md-item='items'/>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-lg btn-action" ng-click="update_skills()"> ثبت </button>
    <button class="btn btn-lg btn-link" ng-click="cancel()"> انصراف </button>
</div>
</div>
</script>

	<!-- profile image -->

<script type="text/ng-template" id="profile-image.html">
<style>
	.center {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	.m20 {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.modal-lg .modal-body {
		min-height: 420px !important;
	}
</style>
	<div class="modal-header">
	            <h3 class="modal-title"> تصویر پروفایل </h3>
	</div>
	<div class="modal-body" style="min-height:350px;">

	    </div>
	</div>
	<div class="modal-footer">
	    <button class="btn btn-lg btn-action" ng-click="reload()"> ثبت </button>
	</div>
	</div>
</script>

<toaster-container toaster-options="{'time-out': 2000, 'close-button':true, 'animation-class': 'toast-center'}"></toaster-container>
<div ng-include src="'views/navbar.html'"></div>
<div ng-include src="'views/header.html'"></div>
<div id="messageBox" class="container">
	<div ng-class="[message.category]" class="col-md-12 col-sm-12 col-xs-12 alert alert-dismissible" ng-repeat="message in messages" ng-if="!message.dismissed">
		<span ng-bind-html="message.content">
		</span>
		<span id="close">
	        <a title="dismiss" ng-click="message.dismissed = !message.dismissed">
	            x
	        </a>
	    </span>
	</div>
</div>

<style>
.tabset {
	width: 100%;
	line-height: normal;
	padding: 0px;
	margin-bottom: 5px;
	-margin-top: 5px;
	background-color: #FFFFFF;
	background: -moz-linear-gradient(center top, #fff, #F8F8F8) repeat scroll 0 0 #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#F8F8F8));
	border-radius: 2px 2px 2px 2px;
	-box-shadow: 0 2px 2px -3px;
			
}
.tabset {
	margin: 0 0 20px;
	background: transparent;
	border: 0 none;
}
.tabset ul {	
	margin: 0;
	padding: 0px;
	list-style: none;
	width: 100%;
	height: 38px;
	border-bottom: 2px solid #ccc;
}
.tabset ul li {
	float: right;
	margin-bottom: -2px;
	display: inline;

}
.tabset ul li a {
    font-size: 12px;
    font-weight: bold;
    color: #888;
    display: block;
    padding: 0 15px 15px;
    border-bottom: 2px solid #ccc;
    text-align: center;
}
.tabset ul li.active a {
	color: #384848;
	border-top: 0 none;
	border-radius: 0;
	padding-top: 0;
	border-bottom-color: #384848;
}
.tabset ul li a:hover {
	color: #384848;
	cursor: pointer;
}
.tabset .active a {
    border-top: 1px solid #FFFFFF;
    border-radius: 3px 3px 0 0;
    padding-top: 9px;
}
.unactive {
    opacity: 0.85;
}
.expert-profile a{

}
.expert-profile .profile-name {
	max-width: 150px;
	color: rgb(136, 136, 136);
	font-weight: bold;
	font-size: 15px;
	margin-top: 12px;
	padding-right: 1px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: block;
	margin-right: auto;
	margin-left: auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
	.my-profile-user-image {
		float: right;
	}
@media screen and (min-width: 990px) {
}
@media screen and (max-width: 990px) {
	.my-profile-user-image {
		float: none;
		margin: 0 auto;
		display: block;
		text-align: center;
	}
}

		</style>
<div class="container expert-profile p-0" ng-hide="error">
	<div class="" ng-mouseover="trigger_in();" ng-mouseleave="trigger_out();">
		<div class="col-md-12 p-0 m-0">
			<div class="col-md-3 col-sm-12 col-xs-12 p-0 m-0">
				<div class="my-profile-user-image">
					<img id="user-portrait" class="avatar avatar-lg expert-profile-pic" ng-hide="croppedDataUrl" ng-src="{{user.image || 'images/ads.png'}}" ng-click="profile_image_open('lg')"/>
					<img id="user-portrait" class="avatar avatar-lg expert-profile-pic" ng-show="croppedDataUrl" ng-src="{{croppedDataUrl}}"/>
					<span class="profile-name" style="margin-top:0; text-align:center;"> {{user.firstName}} {{user.lastName}}</span>
					
				</div>
				<!-- <div class="media-body">
					<div class="col-md-8">
						
					</div>
					<div class="col-md-4">

					</div>
					<div class="expert-profile-skills">
						<a class="blueLink tag" 
						ng-repeat="tag in user.tags" 
						ng-html="/browse/tag/{{tag}}">

							{{tag}}

						</a>
						<span class="ng-cloak" ng-hide="user.tags">
							شما مهارتی اضافه نکره اید
						</span>


						<i class="ion-plus circle-edit-button ng-cloak" 
						ng-show="is_edit_open" 
						ng-click="skills_edit_open('lg');">
						</i>

					</div>
				</div> -->
			</div> 
			<div class="col-md-9 col-sm-12 col-xs-12 m-0 p-0">
				<div class="tabset">
					<ul class="">
						<li ng-class="{active: tab == 'activity'}" class="unactive">
							<a ng-href="" ng-class="" ng-click="tabSelector('activity')">
								فعالیت ها
							</a>
						</li>
						<li ng-class="{active: tab == 'profilePic'}" class="unactive">
							<a ng-href="" ng-class="" ng-click="tabSelector('profilePic')">
								تصویر پروفایل 
							</a>
						</li>
						<li ng-class="{active: tab == 'resume'}" class="unactive">
							<a ng-href="" ng-class="" ng-click="tabSelector('resume')">
								رزومه کاری 
							</a>
						</li>
						<li ng-class="{active: tab == 'edu'}" class="unactive">
							<a ng-href="" ng-class="" ng-click="tabSelector('edu')">
								تحصیلات 
							</a>
						</li>
						<li ng-class="{active: tab == 'socialNetwork'}" class="unactive">
							<a ng-href="" ng-class="" ng-click="tabSelector('socialNetwork')">
								شبکه های اجتماعی
							</a>
						</li>
						<li ng-class="{active: tab == 'disableAccount'}" class="unactive">
							<a ng-href="" ng-class="" ng-click="tabSelector('disableAccount')">
								 لغو عضویت
							</a>
						</li>
					</ul>
				</div>
				<div class="air-card" ng-show="tab == 'activity'">
				<legend>
					<span> خلاصه فعالیت ها </span>
					<i class="ion-plus circle-edit-button ng-cloak" ng-show="is_edit_open" ng-click="summary_edit_open('lg');"></i>
				</legend>
				<section class="p-lg-left">
					<p class="o-break-word o-white-space-pre-line" ng-show="user.summary">
						{{user.summary}}
					</p>
					<p class="o-break-word o-white-space-pre-line ng-cloak" ng-hide="user.summary">
						شما فعالیتی در رزومه خود اضافه نکرده اید 
					</p>
				</section>
			</div>
			<div class="air-card" ng-show="tab == 'resume'">
				<legend>
					<span> رزومه کاری </span>
					<span class="">
						<i class="ion-plus circle-edit-button ng-cloak" ng-show="is_edit_open" ng-click="resume_add_open('lg');"></i>
					</span>
				</legend>
				<div class="" data-ng-hide="user.resumes[0].title">
					<strong>
						شما رزومه ای اضافه نکرده اید
					</strong>
				</div>
				<div class="" data-ng-show="user.resumes[0].title">
					<div class="partial" data-ng-repeat="resume in user.resumes track by $index">
						<span class="col-md-9">
							<strong>
								{{resume.title}}
							</strong>
							| 
							<strong>
								{{resume.category}}
							</strong>
						</span>
						<span class="col-md-3 text-muted">
							{{resume.finish}} - {{resume.start}}
						</span>
						<span class="col-md-9 text-muted">
							{{resume.desc}}
						</span>
						<i class="ion-edit circle-edit-button ng-cloak" ng-show="is_edit_open" ng-click="resume_edit_open('lg', $index);"></i>
						<i class="ion-close circle-edit-button circle-remove-button ng-cloak" ng-show="is_edit_open" ng-click="resume_remove(resume._id);"></i>
						
					</div>
				</div>
			</div>
			<div class="air-card" ng-show="tab == 'edu'">
				<legend>
					<span> تحصیلات </span>
					<span class="">
						<i class="ion-plus circle-edit-button ng-cloak" ng-show="is_edit_open" ng-click="edu_add_open('lg');"></i>
					</span>
				</legend>
				<div class="" data-ng-hide="user.educations[0].name">
					<strong>
						شما تحصیلاتی وارد نکرده اید
					</strong>
				</div>
				<div class="ng-cloak" data-ng-show="user.educations[0].name">
					<div class="partial" data-ng-repeat="edu in user.educations track by $index">
						<span class="col-md-9">
							<strong>
								{{edu.name}}
							</strong>
						</span>
						<span class="col-md-3 text-muted">
							{{edu.finish}} - {{edu.start}}
							<i class="ion-edit circle-edit-button ng-cloak" ng-show="is_edit_open" ng-click="edu_edit_open('lg', $index);"></i>
							<i class="ion-close circle-edit-button circle-remove-button ng-cloak" ng-show="is_edit_open" ng-click="edu_remove(edu._id);"></i>
						</span>
						<span class="col-md-12 text-muted">
							{{edu.grade}} - {{edu.field}}
						</span>
					</div>
				</div>
			</div>
			<div class="air-card profile-pic" ng-show="tab == 'profilePic'">
				<legend>
					<span> تصویر پروفایل </span>
				</legend>
				<div class="col-md-12" style="padding-right:0;padding-left:0">
		   			<form name="myForm">
		    			<div ngf-drop ng-model="picFile" ngf-pattern="image/*"
		    			     class="cropArea">
		    			    <img-crop image="picFile  | ngfDataUrl"                 
		    			    result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
		    			    </img-crop>
		    			</div>
		    			<div>
		    			</div>
		    		</form>
		    		<span>
					<button class="center m20" ngf-select ng-model="picFile" accept="image/*">
	    			   آپلود </button>
				    <button class="center m20" ng-show="picFile" ng-click="uploadImage(croppedDataUrl, picFile.name)"> انتخاب نهایی </button> 		
				    <!-- <div class="progress center m20" ng-show="picFile">
					  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{progress}}"
					  aria-valuemin="0" aria-valuemax="100" style="width:{{progress}}%">
					    {{progress}}% آپلود شد
					  </div>
					</div> -->
	    			<span class="err" ng-show="errorMsg">{{errorMsg}}</span>
				</span>
			</div>
			</div>
		</div>
	</div>
</div>