<style> 
</style>

 <div ng-controller="navbarCtrl" class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="col-md-3 col-sm-3 hidden-xs header" style="float: left !important;">
      <div class="navbar__header">
        <!-- <a class="navbar__brand" href="/">
          <h1 class="brand__header logo__gray">gigakar</h1>
        </a> -->
        <a ng-show="leftNavBtn=='article'" class="button-secondary white" style="position:absolute;left:55px;top:20%;" href="/post-article">ارسال مقاله
        </a>
        <a ng-show="leftNavBtn=='non-article'" class="button-secondary white" style="position:absolute;left:55px;top:20%;" href="/add">ارسال پروژه
        <span style="font-size:70%">
              	(رایگان)
              </span>
        </a>
      </div>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-12 header login">
      <ul class="nav navbar-nav pull-right login-ul col-md-4 col-sm-5 col-xs-12" ng-if="!currentUser">
        <div class="giga-logo-container">
          <a  href="/"><img id="giga-logo-portion" src="./images/giga-logo.png"/></a>
        </div>
        <li data-match-route="/login">
          <a href="/login">
            <span class="ion-android-exit"></span>
            ورود
          </a>
        </li>
        <!-- <li data-match-route="/signup" style="display:none !important;">
          
          <a href="/signup">
         <span class="ion-android-create"></span>
           ثبت نام 
         </a>
        </li> -->
      </ul>
      <ul ng-cloak class="nav navbar-nav pull-right userContainer col-md-4 col-sm-5 col-xs-12" ng-if="currentUser">
        <li class="dropdown navbar-profile" ng-click="usertoggle();">
          <img class="navAvatar" ng-src="images/upload_ba306abb08424caa55618b897c7710ef.png" alt="کاربر محترم"></img>
        </li>
        <div class="userDropDown ng-cloak" ng-show="userdown">
          <ul class="listWrapper">
            <li class="">
              <a class="dropdown-toggle dropDownItem isCurrent" ng-href="/my/{{currentUser._id}}" ng-click="usertoggle()">
                <i class="ion-person"></i>
                {{currentUser.email}}
              </a>
            </li>
          </ul>
          <a class="dropDownItem listFooter" ng-href="/my/{{currentUser._id}}" ng-click="usertoggle()">
            <i class="ion-gear-a"></i>
            پروفایل
          </a>
          <a class="dropDownItem" ng-click="logout();">
            <i class="ion-power"></i>
            خروج
          </a>
        </div>
        <li>
          <div class="giga-logo-container">
            <a  href="/"><img id="giga-logo-portion" src="./images/giga-logo.png"/></a>
          </div>  
        </li>
        
        <!-- <li id="notifications" class="dropdown hidden-sm hidden-xs">
          <a class="navAvatar" ng-href="/">
            <span class="ion-speakerphone"></span>
          </a>
        </li>
        <li id="jobs" class="dropdown hidden-sm hidden-xs">
          <a class="navAvatar">
            <span class="ion-briefcase"></span>
          </a>
        </li> -->
      </ul>
      <ul class="col-md-8 col-sm-7 hidden-xs nav navbar-nav primary-pages pull-right">
          <li style="" data-match-route="/add"><a href="/add">
             پروژه جدید
          </a></li>
          <li style="">
            <a href="/browse" data-match-route="/browse">
              فری لنسر
            </a> 
          </li>
          <li style="" data-match-route="/articles"><a href="/articles" style="">
              مقاله 
              <span style="font-size:70%">
              	(رایگان)
              </span>
          </a></li>
      </ul>
    </div>
  </div>