<style>
	.o-or-divider::before {
		position: absolute;
		content: "";
		display: block;
		padding: 55px 0;
		border-left: 1px solid #7D7D7D;
		border-right: 1px solid #E0E0E0;
		left: 80px;
		top: -10px;
	}
	.o-or-divider {
		padding-top: 115px;
	}
	.o-or-divider::after {
		position: absolute;
		content: "";
		display: block;
		padding: 70px 0 55px;
		border-left: 1px solid #7D7D7D;
		border-right: 1px solid #E0E0E0;
		left: 80px;
		top: 155px;

	}
	.m-lg-bottom {
		margin-bottom: 40px;
	}

</style>

<div class="container">
	<div class="row m-lg-top m-xlg-bottom">
		<div class="col-md-12 m-lg-bottom">		
			<hgroup class="text-center">
				<h1 class="m-xs-top-bottom">
					Let's get started !
				</h1>
				<h1 class="m-xs-top-bottom">
					First, tell us what you're looking for.
				</h1>
			</hgroup>
		</div>
		<div class="col-md-12 text-center">
			<div class="col-md-5">
				<div class="text-muted">
					<span>
						<img alt="Buyer image" src="buyer.png"/>
					</span>
					<div class="user-type-selection">
						I want to hire a freelaner
					</div>
				</div>
				<p class="fs-sm m-lg-bottom">
					Find, Collaborate with and pay an expret
				</p>
				<a class="btn btn-primary m-0" href="/signup">
					Hire
				</a>
			</div>
			<div class="col-md-2 o-or-divider">
				Or
			</div>
			<div class="col-md-5">
				<div class="text-muted">
					<span>
						<img alt="seller, freelancer image" src="seller.png"/>
					</span>
					<div class="user-type-selection">
						I'm looking for online work
					</div>
				</div>
				<p class="fs-sm m-lg-bottom">
					Find freelance projects and grow your business. 
				</p>
				<a class="btn btn-primary m-0" href="/signup">
					Work
				</a>
			</div>

		</div>

	</div>

</div>