<div class="jumbotron">
    <div class="container" style="min-height:80px;">
        <!--        <ul class="alphabet">
                    <li ng-repeat="char in alphabet">
                        <span ng-click="filterByAlphabet(char)">{{char}}</span>
                    </li>
                </ul>-->
        <ul class="genres">
            <li ng-repeat="genre in genres">
                <span ng-click="filterByGenre(genre)">{{genre}}</span>
            </li>
        </ul>
    </div>
</div>



<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
                User Profile
        </div>
        <div class="panel-body">
            <div class="col-md-12" style="min-height: 400px;">
                <div class="col-md-8" style="height: 70px;border: 1px solid #eee">

                    <ul class="nav nav-tabs">
                        <li>
                        <a>Profile Setting</a>
                        </li>
                        <li><a>Profile Privacy</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="nav nav-tabs">
                        <li>
                            <a> Projects </a>
                        </li>
                        <li>
                            <a> Balance </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            User Profile
        </div>
        <div class="panel-body">
            <div class="col-md-12" style="min-height: 400px;">
                <div class="col-md-4" style="height: 70px;border: 1px solid #eee;background-color: tomato;">
                    <h1>First Column</h1>
                </div>
                <div class="col-md-4" style="height: 70px;border: 1px dotted #eee;background-color: deepskyblue;">
                    <h2>Second Column</h2>
                </div>
                <div class="col-md-4" style="height: 70px;border: 1px dashed #eee;">
                    <h3>Third Column</h3>
                </div>
            </div>
        </div>
    </div>
</div>