a,.theme_bolder,.system_font_color,.pricing-table:hover .pricing_cost,.color-picker a.handle i,.team-position p,.scrollup{
    color:#23d1b7;
}
.extra_features_icon:hover{
    box-shadow: 0 0 0 2px #23d1b7;
}
.extra_features_icon:hover:after,.amazing-circle,.nav-pills li.active a, .nav-pills li.active a:focus,
#team .nav-pills li a:hover,.pricing-table_header,.pricing-table_cnt .theme_btn,.accordion .title a:hover,
.accordion .title a[aria-expanded="true"],.footer_data,.color-picker .settings-header,
.color-picker a.handle:hover,.subscribe-button,form .theme_btn,.scrollup:hover{
    background: #23d1b7;
}
.nav-pills li a,.current_dot img,.color-picker a.handle{
    border:1px solid #23d1b7;
}
.owl-dots .owl-dot.active, .owl-dots .owl-dot:hover{
    background: #23d1b7;
    border-color: #23d1b7;
}
.owl-dots .owl-dot+.owl-dot, .owl-dots .owl-dot{
    border-color: #23d1b7;   
}
.outer_spin,.inner_spin {    
    border: 9px solid #23d1b7;
    border-color: transparent #23d1b7;    
}
.color-picker .section:last-child{
    border-bottom: 1px solid rgba(35,209,183,0.55);
}
.color-picker .section {    
    border-bottom: 1px dotted rgba(35,209,183,0.55);
    border-right: 1px solid rgba(35,209,183,0.55);    
}
.scroll_menu{
    background: rgba(35,209,183,0.82);
}
.best_package{
    background: #fff;
    color: #000;
    border-top: 1px solid #23d1b7;
}
.best_package:after{
    border-bottom: 25px solid #23d1b7;
}

.theme_btn:hover{
    background: #23d1b7;
    border: 1px solid #23d1b7;
}

.pricing-table_cnt .theme_btn:hover{
     border: 1px solid #23d1b7;
     color: #23d1b7 !important;
}

.scrollup{
    box-shadow:0 0 5px 1px rgba(35,209,183,0.62);
}
