
<!-- Pricing section starts -->
<section id="pricing">
	<div class="container">
		<div class="row">
			<div class="title">
				<h2 class="text-center">قیمت <span class="theme_bolder">سرویس ها</span></h2>
				<div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
					<p>
						با کمترین هزینه ممکن، با متخصص ترین مترجمین ایران کار کنید
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- <div class="col-sm-4">
				<div class="pricing-table">
					<div class="pricing-table_header text-center">
						<div class="pricing_cost">
							Free
						</div>
						<h4>Standard</h4>
					</div>
					<div class="pricing-table_cnt text-center">
						<ul>
							<li>30 GB Storage</li>
							<li>500 GB Bandwidth</li>
							<li>24/7 Customer Support</li>
							<li>Virus Protected</li>
							<li>3-5 Business Day</li>
							<li>
								<a href="#" class="btn theme_btn">Order Now</a>
							</li>
						</ul>
					</div>
				</div>
			</div> -->
			<div class="col-sm-6">
				<div class="pricing-table">
					<div class="pricing-table_header general text-center">
						<div class="pricing_cost">
							<span>۵ هزار تومان</span>
							<h5>صفحه</h5>
						</div>
						<h4>عمومی</h4>
					</div>
					<div class="pricing-table_cnt text-center">
						<ul>
							<li>هر مدل متن عمومی</li>
							<li>ارتباط مستقیم با مترجم</li>
							<li>تحویل به صروت بخش بخش</li>
							<li>تایپ و ویرایش حرفه ای</li>
							<li>۲ صفحه اول رایگان</li>
							<li>۲۴ ساعت شبانه روز ۷ روز هفته</li>
							<li>
								<a href="#" class="btn theme_btn general">سفارش دهید</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="pricing-table">
					<!-- <div class="best_package">جدید</div> -->
					<div class="pricing-table_header technical text-center">
						<div class="pricing_cost">
							<span>۷ هزار تومان</span>
							<h5>صفحه</h5>
						</div>
						<h4>تخصصی</h4>
					</div>
					<div class="pricing-table_cnt text-center">
						<ul>
							<li>تمامی رشته ها و اسناد تجاری و غیر رسمی</li>
							<li>ارتباط مستقیم با مترجم</li>
							<li>سریع ترین زمان</li>
							<li>تایپ شده زیبا</li>
							<li>ویرایش شده مناسب</li>
							<li>دریافت و تحویل هر ساعت از شبانه روز</li>
							<li>
								<a href="#" class="btn theme_btn technical">سفارش دهید</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Pricing section ends -->
