<style>
.form-group p {direction: rtl}
</style>
<toaster-container toaster-options="{'time-out': 2000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>
<section id="payment">
  <div class="row">
      <div class="title">
          <h2 class="text-center"> <span class="theme_bolder"> پرداخت</span></h2>
          <div class="text-center" style="padding: 0 50px;">
              <p>
                  <span class="highlight-blue">اونیتا</span> پلتفرمی برای تسهیل ارتباط بین مترجمین حرفه ای و افرادی است که نیاز ترجمه دارند
              </p>
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2" style="direction: ltr;">
      <form method="post" ng-submit="pay()" name="paymentForm">
        <div class="form-group has-feedback">
            <div class="input-group">
              <span class="input-group-addon">ریال</span>
              <input type="text" class="form-control input-lg" id="paymentamount" name="payment-amount" ng-model="amount">
            </div>
            <!-- <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span> -->
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-block btn-post" style="color:#FFF;">پرداخت</button>
          <p class="text-center">
          </p>
        </div>
      </form>
    </div>
  </div>
</section>