<style>
.rtl {
	direction: rtl;
}
.align-right {
	float: right;
}
.navbar-nav > li {
	float: right !important;
}
</style>


<!-- Navigation menu starts -->
<nav class="navbar default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="index.html" class="brand-logo">
				<!-- <h1>AppLab</h1> -->
				<img src="assets/images/logo-onita.png" alt="Theme_name">
			</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav pull-right rtl">
				<li class="active">
					<a href="#home" data-du-smooth-scroll data-du-scrollspy>خانه</a>
				</li>
				<li>
					<a href="#extra_features" data-du-smooth-scroll data-du-scrollspy>امکانات</a>
				</li>
				<li>
					<a href="#pricing" data-du-smooth-scroll data-du-scrollspy>پکیج قیمت</a>
				</li>
				<li>
					<a href="#working" data-du-smooth-scroll data-du-scrollspy>چطور کار میکند</a>
				</li>
				<li>
					<a href="#subscribe" data-du-smooth-scroll data-du-scrollspy>ارتباط با ما</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<!--=== Navigation menu ends ===-->

<!-- Home section starts -->
<header id="header" class="big_screen parallax-img" data-parallax-background data-parallax-ratio="0.2"  style="background-image: url(assets/images/bg_home3.jpg);" data-banner>
	<div class="bg_layer" ></div>
	<div class="container" >
		<div class="rotatew">
			<section id="home" >
				<div class="container">
					<div class="row">
						<div class="layout3 text-center">
							<h1 class="mb40">{{lp.header.title}}</h1>
							<div class="col-sm-8 col-sm-offset-2 mb40">
								<p> {{lp.header.desc}} </p>
							</div>
							<div class="btn-groups col-sm-12 mb40">
								<button type="button" class="btn theme_btn mr15">{{lp.header.btn1}}</button>
								<button type="button" class="btn theme_btn">{{lp.header.btn2}}</button>
							</div>
						</div>
					</div>
					<div class="home_snaps">
						<div class="single_snap hidden-xs" >
							<img class="img-responsive snap1 snap_middle"  src="assets/images/home-screens/screen1.png" alt="screen-1">
							<img class="img-responsive snap2 snap_left_2"  src="assets/images/home-screens/screen2.png" alt="screen-2">
							<img class="img-responsive snap3 snap_left_3" src="assets/images/home-screens/screen3.png" alt="screen-3">
							<img class="img-responsive snap4 snap_left_4" src="assets/images/home-screens/screen2.png" alt="screen-4">
							<img class="img-responsive snap5 snap_left_5" src="assets/images/home-screens/screen5.png" alt="screen-5">
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</header>
<!-- Home section ends -->

<!-- Extra_features section starts -->
<section id="extra_features">
	<div class="container">
		<div class="row">
			<div class="title">
				<h2 class="text-center">{{lp.features.title}} <span class="theme_bolder"></span></h2>
				<div class="col-sm-6 col-sm-offset-3 text-center">
					<p>{{lp.features.desc}}</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 text-center">
				<div class="extra_features_icon">
					<span class="docs"></span>
				</div>
				<h4 class="system_font_color text-uppercase">{{lp.features.doc}}</h4>
				<p>{{lp.features.docDesc}}</p>
			</div>
			<div class="col-sm-4 text-center">
				<div class="extra_features_icon">
					<span class="desktop"></span>
				</div>
				<h4 class="system_font_color text-uppercase">{{lp.features.desktop}}</h4>
				<p>{{lp.features.desktopDesc}}</p>
			</div>
			<div class="col-sm-4 text-center">
				<div class="extra_features_icon">
					<span class="psd"></span>
				</div>
				<h4 class="system_font_color text-uppercase">{{lp.features.psd}}</h4>
				<p>{{lp.features.psdDesc}}</p>
			</div>
		</div>
		<div class="extra_feature_ph">
			<img class="img-responsive animate_bottom_60" src="assets/images/extra_feature_ph.png" alt="Extra_feature">
		</div>
	</div>
</section>
<!-- Extra_features section ends -->

<!-- Pricing section starts -->
<section id="pricing">
	<div class="container">
		<div class="row">
			<div class="title">
				<h2 class="text-center">Pricing <span class="theme_bolder">plans</span></h2>
				<div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
					<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit Lorem Ipsum. Proin gravida nibh vel velit </p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="pricing-table">
					<div class="pricing-table_header text-center">
						<div class="pricing_cost">
							Free
						</div>
						<h4>Standard</h4>
					</div>
					<div class="pricing-table_cnt text-center">
						<ul>
							<li>30 GB Storage</li>
							<li>500 GB Bandwidth</li>
							<li>24/7 Customer Support</li>
							<li>Virus Protected</li>
							<li>3-5 Business Day</li>
							<li>
								<a href="#" class="btn theme_btn">Order Now</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="pricing-table">
					<div class="best_package">New</div>
					<div class="pricing-table_header text-center">
						<div class="pricing_cost">
							<span>$100</span>
							<h5>/month</h5>
						</div>
						<h4>Buisness</h4>
					</div>
					<div class="pricing-table_cnt text-center">
						<ul>
							<li>30 GB Storage</li>
							<li>500 GB Bandwidth</li>
							<li>24/7 Customer Support</li>
							<li>Virus Protected</li>
							<li>3-5 Business Day</li>
							<li>24/7 Customer Support</li>
							<li>
								<a href="#" class="btn theme_btn">Order Now</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="pricing-table">
					<div class="pricing-table_header text-center">
						<div class="pricing_cost">
							<span>$150</span>
							<h5>/month</h5>
						</div>
						<h4>Ultimate</h4>
					</div>
					<div class="pricing-table_cnt text-center">
						<ul>
							<li>30 GB Storage</li>
							<li>500 GB Bandwidth</li>
							<li>24/7 Customer Support</li>
							<li>Virus Protected</li>
							<li>3-5 Business Day</li>
							<li>24/7 Customer Support</li>
							<li>
								<a href="#" class="btn theme_btn">Order Now</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Pricing section ends -->


<!-- Working section starts -->
<section id="working">
	<div class="container">
		<div class="row">
			<div class="title">
				<div class="col-sm-6">
					<h2>چطور <span class="theme_bolder">کار میکند</span></h2>
					<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.  </p>
				</div>
			</div>
		</div>
		<div class="working_snap">
			<img class="img-responsive hidden-xs animate_top_60" src="assets/images/working_snap.png" alt="Working-Snaps">
		</div>
		<div class="row">
			<div class="col-sm-4 working_space">
				<div class="system_font_color">
					<h4>
						<span class="ti-wand mr10"></span>
						کاملن قشنگ
					</h4>
				</div>
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 working_space">
				<div class="system_font_color">
					<h4>
						<span class="ti-paint-bucket mr10"></span>
						چند رنگه
					</h4>
				</div>
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
			</div>
			<div class="col-sm-4 working_space">
				<div class="system_font_color">
					<h4>
						<span class="ti-envelope mr10"></span>
						ارتباط با مترجمین</h4>
				</div>
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 working_space">
				<div class="system_font_color">
					<h4>
						<span class="ti-ruler-pencil mr10"></span>
						۲ صفحه اول رایگان
					</h4>
				</div>
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
			</div>
			<div class="col-sm-4 working_space">
				<div class="system_font_color">
					<h4>
						<span class="ti-twitter mr10"></span>
						بات تلگرام 
					</h4>
				</div>
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
			</div>
			<div class="col-sm-4 working_space">
				<div class="system_font_color">
					<h4>
						<span class="ti-email mr10"></span>
						برآورد هزینه آنی
					</h4>
				</div>
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
			</div>
		</div>
	</div>
</section>
<!-- Working section ends -->


<!-- Subscribe section starts -->
<section id="subscribe"  data-parallax-background class="parallax-img" data-parallax-ratio="0.2" style="background-image: url(assets/images/bg_subscribe.jpg);">
	<div class="bg_layer"></div>
	<div class="container">
		<div class="row">
			<div class="title">
				<h2 class="text-center">Subscribe <span class="white_bolder">now</span></h2>
				<div class="col-xs-12 text-center">
					<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit Lorem   </p>
				</div>
			</div>
		</div>
		<div class="col-sm-8 col-sm-offset-2">
			<div class="input-sub">
				<input placeholder="Enter Your Email Address" type="text" class="form-control subscribe-form-control ">
				<button class="btn subscribe-button theme_btn" type="submit">SUBSCRIBE</button>
			</div>
		</div>
	</div>
</section>
<!-- Subscribe section ends -->

<!-- Footer section starts -->
<footer>
	<div class="container contact_container">
		<div class="row">
			<div class="footer_data">
				<div class="col-sm-4 col-xs-4">
					<ul class="client_data">
						<li>
							<span class="contact"></span>
							<div class="client_detail">
								<h4>CONTACT</h4>
								<span>(+91) 987-876-5436</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-sm-4 col-xs-4">
					<ul class="client_data">
						<li>
							<span class="email"></span>

							<div class="client_detail">
								<h4>EMAIL ID</h4>
								<span>phoenixcoded@ gmail.com</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-sm-4 col-xs-4">
					<ul class="client_data">
						<li>
							<span class="location"></span>
							<div class="client_detail">
								<h4>LOCATION</h4>
								<span>208,Royal Square, Utran, Surat.</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<section id="main_footer"   data-parallax-background class="parallax-img" data-parallax-ratio="0.2" style="background-image: url(assets/images/bg_footer.jpg);">
		<div class="bg_layer"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-xs-4">
					<a href="#"><h2 class="brand-logo mb30">APP-LAB</h2></a>
					<p class="mb30">
						This is Photoshop's version  of Lorem Ipsum. Proin gra  vi da nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum
					</p>
					<div class="social_icons">
						<a href="#">
							<span class="fb_footer"></span>
						</a>
						<a href="#">
							<span class="twt_footer"></span>
						</a>
						<a href="#">
							<span class="pinit_footer"></span>
						</a>
						<a href="#">
							<span class="linkedin_footer"></span>
						</a>
					</div>
				</div>
				<div class="col-sm-4 col-xs-4">
					<div class="middle_footer">
						<h4>newsletter  signup</h4>
						<p class="mb30">Enter your email id to subscribe and received notification of our new post by email.</p>
						<input class="form-control mb30" type="text" placeholder="Enter Email Address">
						<a href="#" class="btn theme_btn">Subscribe</a>
					</div>
				</div>
				<div class="col-sm-4 col-xs-4">
					<div class="middle_footer">
						<h4>useful  links</h4>
						<div class="row">
							<div class="col-sm-6">
								<ul class="useful_links">
									<li><a href="#"><i class="fa fa-angle-right mr5"></i>Home</a></li>
									<li><a href="#"><i class="fa fa-angle-right mr5"></i>Pricing Plan</a></li>
									<li><a href="#"><i class="fa fa-angle-right mr5"></i>Testimonial</a></li>
									<li><a href="#"><i class="fa fa-angle-right mr5"></i>Faq</a></li>
								</ul>
							</div>
							<div class="col-sm-6">
								<ul class="useful_links">
									<li><a href="#"><i class="fa fa-angle-right mr5"></i>Amazing Features</a></li>
									<li><a href="#"><i class="fa fa-angle-right mr5"></i>Our Team</a></li>
									<li><a href="#"><i class="fa fa-angle-right mr5"></i>Contact Us</a></li>
								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="footer_line text-center">
			<p>Your App &copy; 2016. All rights reserved</p>
		</div>
	</section>
</footer>
<!-- Footer section ends -->
