<style>
#working {display: none;}
#working [class^="col-"] {direction: rtl;}
/*#working .working-space > div */
#header {background-image: none !important;}
#subscribe {background-image: none !important;}
#main_footer {background-image: none!important;}
#main_footer .middle_footer input[placeholder] {display: none;}
#main_footer .middle_footer {direction: ltr;text-align: left;}
#main_footer [class^="col-"] {float: right !important;}
#main_footer .social_icons > a:first-child {margin-right: 0}
#main_footer > div { direction: rtl; text-align: right; }
#pricing .pricing-table {background: #E8E6E6;}
#pricing .pricing-table .general {background-color: #01ccdf;}
#pricing .pricing-table_cnt .theme_btn:hover {background-color: #fff;}
#pricing .pricing-table .technical {background-color: #0e7ae8;}
#pricing .pricing-table_cnt .theme_btn:hover, #pricing .pricing-table_cnt .theme_btn:focus {
	color: #fff !important;
	border: 1px solid #0e7ae8;
}
#header .bg_layer{
    text-align: center;
    background: linear-gradient(-90deg, #01ccdf, #0e7ae8);
    background-size: 100% 100%;


    -webkit-animation: bgAnimate 180s cubic-bezier(0.25, 0.1, 0.70, 0.90) infinite;
    -moz-animation: bgAnimate 180s cubic-bezier(0.25, 0.1, 0.70, 0.90) infinite;
    animation: bgAnimate 180s cubic-bezier(0.25, 0.1, 0.70, 0.90) infinite;

    box-shadow: 0 2px 4px 0 rgba(0,0,0, 0.3);
}
.rtl {
	direction: rtl;
}
.align-right {
	float: right;
}
.navbar-nav > li {
	float: right !important;
}

</style>


<!-- Navigation menu starts -->
<nav class="navbar default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="index.html" class="brand-logo">
				<!-- <h1>AppLab</h1> -->
				<!-- <img src="assets/images/logo-onita.png" alt="Theme_name"> -->
			</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav pull-right rtl">
				<li class="active">
					<a href="#home" data-du-smooth-scroll data-du-scrollspy>خانه</a>
				</li>
				<li>
					<a href="#extra_features" data-du-smooth-scroll data-du-scrollspy>امکانات</a>
				</li>
				<li>
					<a href="#pricing" data-du-smooth-scroll data-du-scrollspy>پکیج قیمت</a>
				</li>
				<li>
					<a href="#working" data-du-smooth-scroll data-du-scrollspy>چطور کار میکند</a>
				</li>
				<li>
					<a href="#subscribe" data-du-smooth-scroll data-du-scrollspy>ارتباط با ما</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<!--=== Navigation menu ends ===-->

<!-- Home section starts -->
<header id="header" class="big_screen parallax-img" data-parallax-background data-parallax-ratio="0.2"  style="background-image: url(assets/images/bg_home3.jpg);" data-banner>
	<div class="bg_layer" ></div>
	<div class="container" >
		<div class="rotatew">
			<section id="home" >
				<div class="container">
					<div class="row">
						<div class="layout3 text-center">
							<h1 class="mb40">اونیتا</h1>
							<div class="col-sm-8 col-sm-offset-2 mb40">
								<p> دسترسی شما به بزرگترین شبکه مترجمین آنلاین </p>
								<p> هر ترجمه عمومی ، تحصصی ، شخصی ، سازمانی ، در اونیتا ما برای پروژه شما مترجم فوق العاده حرفه ای داریم</p>
							</div>
							<div class="btn-groups col-sm-12 mb40 rtl">
								<button type="button" class="btn theme_btn mr15">سفارش ترجمه دارید‌ ؟</button>
								<span class="white_bolder" style="margin: 0 25px;">یا</span>
								<button type="button" class="btn theme_btn">مترجم هستید ؟</button>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</header>
<!-- Home section ends -->

<!-- Extra_features section starts -->
<section id="extra_features">
	<div class="container">
		<div class="row">
			<div class="title">
				<h2 class="text-center">{{lp.features.title}} <span class="theme_bolder"></span></h2>
				<div class="col-sm-6 col-sm-offset-3 text-center">
					<p>{{lp.features.desc}}</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 text-center">
				<div class="extra_features_icon">
					<span class="docs"></span>
				</div>
				<h4 class="system_font_color text-uppercase">{{lp.features.doc}}</h4>
				<p>{{lp.features.docDesc}}</p>
			</div>
			<div class="col-sm-4 text-center">
				<div class="extra_features_icon">
					<span class="desktop"></span>
				</div>
				<h4 class="system_font_color text-uppercase">{{lp.features.desktop}}</h4>
				<p>{{lp.features.desktopDesc}}</p>
			</div>
			<div class="col-sm-4 text-center">
				<div class="extra_features_icon">
					<span class="psd"></span>
				</div>
				<h4 class="system_font_color text-uppercase">{{lp.features.psd}}</h4>
				<p>{{lp.features.psdDesc}}</p>
			</div>
		</div>
		<div class="extra_feature_ph">
			<img class="img-responsive animate_bottom_60" src="assets/images/extra_feature_ph.png" alt="Extra_feature">
		</div>
	</div>
</section>
<!-- Extra_features section ends -->

<!-- Pricing section starts -->
<section id="pricing">
	<div class="container">
		<div class="row">
			<div class="title">
				<h2 class="text-center">Pricing <span class="theme_bolder">plans</span></h2>
				<div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
					<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit Lorem Ipsum. Proin gravida nibh vel velit </p>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- <div class="col-sm-4">
				<div class="pricing-table">
					<div class="pricing-table_header text-center">
						<div class="pricing_cost">
							Free
						</div>
						<h4>Standard</h4>
					</div>
					<div class="pricing-table_cnt text-center">
						<ul>
							<li>30 GB Storage</li>
							<li>500 GB Bandwidth</li>
							<li>24/7 Customer Support</li>
							<li>Virus Protected</li>
							<li>3-5 Business Day</li>
							<li>
								<a href="#" class="btn theme_btn">Order Now</a>
							</li>
						</ul>
					</div>
				</div>
			</div> -->
			<div class="col-sm-6">
				<div class="pricing-table">
					<div class="pricing-table_header general text-center">
						<div class="pricing_cost">
							<span>۵ هزار تومان</span>
							<h5>صفحه</h5>
						</div>
						<h4>عمومی</h4>
					</div>
					<div class="pricing-table_cnt text-center">
						<ul>
							<li>هر مدل متن عمومی</li>
							<li>ارتباط مستقیم با مترجم</li>
							<li>تحویل به صروت بخش بخش</li>
							<li>تایپ و ویرایش حرفه ای</li>
							<li>۲ صفحه اول رایگان</li>
							<li>۲۴ ساعت شبانه روز ۷ روز هفته</li>
							<li>
								<a href="#" class="btn theme_btn general">سفارش دهید</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="pricing-table">
					<!-- <div class="best_package">جدید</div> -->
					<div class="pricing-table_header technical text-center">
						<div class="pricing_cost">
							<span>۷ هزار تومان</span>
							<h5>صفحه</h5>
						</div>
						<h4>تخصصی</h4>
					</div>
					<div class="pricing-table_cnt text-center">
						<ul>
							<li>تمامی رشته ها و اسناد تجاری و غیر رسمی</li>
							<li>ارتباط مستقیم با مترجم</li>
							<li>سریع ترین زمان</li>
							<li>تایپ شده زیبا</li>
							<li>ویرایش شده مناسب</li>
							<li>دریافت و تحویل هر ساعت از شبانه روز</li>
							<li>
								<a href="#" class="btn theme_btn technical">سفارش دهید</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Pricing section ends -->


<!-- Working section starts -->
<section id="working">
	<div class="container">
		<div class="row">
			<div class="title">
				<div class="col-sm-6">
					<h2>چطور <span class="theme_bolder">کار میکند</span></h2>
					<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.  </p>
				</div>
			</div>
		</div>
		<div class="working_snap">
			<img class="img-responsive hidden-xs animate_top_60" src="assets/images/working_snap.png" alt="Working-Snaps">
		</div>
		<div class="row">
			<div class="col-sm-4 working_space">
				<div class="system_font_color">
					<h4>
						<span class="ti-wand mr10"></span>
						کاملن قشنگ
					</h4>
				</div>
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 working_space">
				<div class="system_font_color">
					<h4>
						<span class="ti-paint-bucket mr10"></span>
						چند رنگه
					</h4>
				</div>
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
			</div>
			<div class="col-sm-4 working_space">
				<div class="system_font_color">
					<h4>
						<span class="ti-envelope mr10"></span>
						ارتباط با مترجمین</h4>
				</div>
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 working_space">
				<div class="system_font_color">
					<h4>
						<span class="ti-ruler-pencil mr10"></span>
						۲ صفحه اول رایگان
					</h4>
				</div>
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
			</div>
			<div class="col-sm-4 working_space">
				<div class="system_font_color">
					<h4>
						<span class="ti-twitter mr10"></span>
						بات تلگرام 
					</h4>
				</div>
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
			</div>
			<div class="col-sm-4 working_space">
				<div class="system_font_color">
					<h4>
						<span class="ti-email mr10"></span>
						برآورد هزینه آنی
					</h4>
				</div>
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
			</div>
		</div>
	</div>
</section>
<!-- Working section ends -->


<!-- Subscribe section starts -->
<section id="subscribe"  data-parallax-background class="parallax-img" data-parallax-ratio="0.2" style="background-image: url(assets/images/bg_subscribe.jpg);">
	<div class="bg_layer"></div>
	<div class="container">
		<div class="row">
			<div class="title">
				<h2 class="text-center">عضو <span class="white_bolder">شوید</span></h2>
				<div class="col-xs-12 text-center">
					<p>
					میدونید ما هر هفته <span class="white_bolder">۱بار</span>
					 سفارش 
					 <span class="white_bolder">۱مشتری</span>
					  رو با 
				  	<span class="white_bolder">۱۰۰درصد</span> تخفیف انجام میدیم ؟ زودتر از بقیه مطلع بشید 
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-8 col-sm-offset-2">
			<div class="input-sub">
				<input placeholder="آدرس ایمیل خود را وارد کنید." type="text" class="form-control subscribe-form-control ">
				<button class="btn subscribe-button theme_btn" type="submit">الان عضو شو</button>
			</div>
		</div>
	</div>
</section>
<!-- Subscribe section ends -->

<!-- Footer section starts -->
<footer>
	<div class="container contact_container">
		<div class="row">
			<div class="footer_data">
				<div class="col-sm-4 col-xs-4">
					<ul class="client_data">
						<li>
							<span class="contact"></span>
							<div class="client_detail">
								<h4>مشاوره رایگان</h4>
								<span>۰۹۳۵۵۵۲۰۲۰۸</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-sm-4 col-xs-4">
					<ul class="client_data">
						<li>
							<span class="email"></span>

							<div class="client_detail">
								<h4>تلگرام</h4>
								<span>@onita_telegram</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-sm-4 col-xs-4">
					<ul class="client_data">
						<li>
							<span class="location"></span>
							<div class="client_detail">
								<h4>آدرسی</h4>
								<span>شهرک اکباتان - فاز ۳ - بلوک E1</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<section id="main_footer"   data-parallax-background class="parallax-img" data-parallax-ratio="0.2" style="background-image: url(assets/images/bg_footer.jpg);">
		<div class="bg_layer"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<a href="#"><h2 class="brand-logo mb30">اونیتا</h2></a>
					<p class="mb30">
						تخصصی ترین شبکه مترجمین آنلاین ، در سریع ترین زمان ممکن بالاترین کیفیت را از مترجمین ما بخواهید.
					</p>
					<div class="social_icons">
						<a href="#">
							<span class="fb_footer"></span>
						</a>
						<a href="#">
							<span class="twt_footer"></span>
						</a>
						<a href="#">
							<span class="pinit_footer"></span>
						</a>
						<a href="#">
							<span class="linkedin_footer"></span>
						</a>
					</div>
				</div>
				<!-- <div class="col-sm-offset-4"></div> -->
				<div class="col-sm-8 col-xs-12">
					<div class="middle_footer">
						<h4>Expert Translator ?</h4>
						<p class="mb30">
							Our customers are those who care about the details; the small stuff. If you genuinely want to deliver something that people love. we want you here.  We need you here. We have super ambitious goals that we think will genuinely make a difference for our customers.
						</p>
						<input class="form-control mb30" type="text" placeholder="Enter Email Address/Phone No.">
						<a href="#" class="btn theme_btn">Join Us</a>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_line text-center">
			<p>تمامی حقوق متعلق به &copy; اونتا می باشد</p>
		</div>
	</section>
</footer>
<!-- Footer section ends -->
