<style>
/*#working .working-space > div */
#header {background-image: none !important;}
#header .bg_layer{
    text-align: center;
    background: linear-gradient(-90deg, #01ccdf, #0e7ae8);
    background-size: 100% 100%;


    -webkit-animation: bgAnimate 180s cubic-bezier(0.25, 0.1, 0.70, 0.90) infinite;
    -moz-animation: bgAnimate 180s cubic-bezier(0.25, 0.1, 0.70, 0.90) infinite;
    animation: bgAnimate 180s cubic-bezier(0.25, 0.1, 0.70, 0.90) infinite;

    box-shadow: 0 2px 4px 0 rgba(0,0,0, 0.3);
}
#working {display: none;}
#working [class^="col-"] {direction: rtl;}
#subscribe {background-image: none !important;}
#main_footer {background-image: none!important;}
#main_footer .middle_footer input[placeholder] {display: none;}
#main_footer .middle_footer {direction: ltr;text-align: left;}
#main_footer [class^="col-"] {float: right !important;}
#main_footer .social_icons > a:first-child {margin-right: 0}
#main_footer > div { direction: rtl; text-align: right; }
#extra_features .row:nth-child(2) > div {float:right;}
#pricing .pricing-table {background: #E8E6E6;}
#pricing .pricing-table .general {background-color: #01ccdf;}
/*#pricing .pricing-table_cnt .theme_btn:hover {background-color: #fff;}*/
#pricing .theme_btn:hover, #pricing .theme_btn:focus {color: #fff !important;border: ;}
#pricing .pricing-table .technical {background-color: #0e7ae8;}
#pricing .technical , #pricing .general {border: none !important;}
#pricing .theme_btn:hover, #pricing .theme_btn:focus {
	color: #fff !important;
}
#pricing .general.theme_btn:hover {background-color: #fff !important; color: #01CCDF !important; border: none;}
#pricing .technical.theme_btn:hover {background-color: #fff !important; color: #0E7AE8 !important; border: none;}
#pricing .pricing-table:hover .general .pricing_cost {color: #01CCDF;}
#pricing .pricing-table:hover .technical .pricing_cost {color: #56ACE9;}
footer .client_detail h4 {font-size: 14px;}
footer .client_detail span {font-size: 18px;}
.rtl {
	direction: rtl;
}
.align-right {
	float: right;
}
.navbar-nav > li {
	float: right !important;
}

</style>


<!-- Navigation menu starts -->
<nav class="navbar default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="index.html" class="brand-logo">
				<!-- <h1>AppLab</h1> -->
				<!-- <img src="assets/images/logo-onita.png" alt="Theme_name"> -->
			</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav pull-left rtl" ng-if="!userLogged">
				<li class="active">
					<a ng-click="openModal('signup');" data-du-smooth-scroll data-du-scrollspy>ثبت نام</a>
				</li>
				<li>
					<a ng-click="openModal('login');" data-du-smooth-scroll data-du-scrollspy>ورود</a>
				</li>
			</ul>
			<ul class="nav navbar-nav pull-left" ng-if="userLogged">
				<li uib-dropdown on-toggle="toggled(open)">
			      <a href id="simple-dropdown" uib-dropdown-toggle>
			        سلام دوست عزیز
			      </a>
			      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
			        <li>
						<a ng-click="openModal('experts')">لیست مترجمین</a>
						<a>داشبورد <span class="text-muted">به زودی</span> </a>
						<a>سفارشات <span class="text-muted">به زودی</span></a>
						<a>پرداخت <span class="text-muted">به زودی</span></a>
						<a href ng-click="logout()">خروج</a>
			        </li>
			      </ul>
			    </li>
			</ul>
			<ul class="nav navbar-nav pull-right rtl myNavbar">
				<li class="active">
					<a href="#home" data-du-smooth-scroll data-du-scrollspy>خانه</a>
				</li>
				<li>
					<a href="#extra_features" data-du-smooth-scroll data-du-scrollspy>امکانات</a>
				</li>
				<li>
					<a href="#pricing" data-du-smooth-scroll data-du-scrollspy>پکیج قیمت</a>
				</li>
				<!-- <li>
					<a href="#working" data-du-smooth-scroll data-du-scrollspy>چطور کار میکند</a>
				</li> -->
				<li>
					<a href="#subscribe" data-du-smooth-scroll data-du-scrollspy>ارتباط با ما</a>
				</li>
				<li>
					<a href ng-click="openModal('payment');" data-du-smooth-scroll data-du-scrollspy>پرداخت</a>
				</li>

			</ul>
		</div>
	</div>
</nav>
<!--=== Navigation menu ends ===-->

<!-- Home section starts -->
<header id="header" class="big_screen parallax-img" data-parallax-background data-parallax-ratio="0.2"  style="background-image: url(assets/images/bg_home3.jpg);" data-banner>
	<div class="bg_layer" ></div>
	<div class="container" >
		<div class="rotatew">
			<section id="home" >
				<div class="container">
					<div class="row">
						<div class="layout3 text-center">
							<h1 class="mb40">اونیتا</h1>
							<div class="col-sm-8 col-sm-offset-2 mb40">
								<p> دسترسی شما به بزرگترین شبکه مترجمین آنلاین </p>
								<p> هر ترجمه عمومی ، تحصصی ، شخصی ، سازمانی ، در اونیتا ما برای پروژه شما مترجم فوق العاده حرفه ای داریم</p>
							</div>
							<div class="btn-groups col-sm-12 mb40 rtl">
								<button type="button" class="btn theme_btn mr15" ng-click="openModal('customer');">سفارش ترجمه دارید‌ ؟</button>
								<span class="white_bolder" style="margin: 0 25px;">یا</span>
								<button type="button" class="btn theme_btn" ng-click="openModal('freelancer');">مترجم هستید ؟</button>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</header>
<!-- Home section ends -->

<!-- Extra_features section starts -->

<!-- <section id="extra_features">
	<div class="container">
		<div class="row">
			<div class="title">
				<h2 class="text-center">همه چی <span class="theme_bolder"> همین جا</span></h2>
				<div class="col-sm-6 col-sm-offset-3 text-center">
					<p>یکپارچه ترین خدمات را برای شما فراهم کرده ایم تا بسیار ساده و در کوتاه ترین زمان پروژه تان انجام گردد</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 text-center">
				<div class="extra_features_icon">
					<span class="docs"></span>
				</div>
				<h4 class="system_font_color text-uppercase">ثبت سفارش</h4>
				<p></p>
			</div>
			<div class="col-sm-4 text-center">
				<div class="extra_features_icon">
					<span class="desktop"></span>
				</div>
				<h4 class="system_font_color text-uppercase">انتخاب مترجم و شروع کار</h4>
				<p></p>
			</div>
			<div class="col-sm-4 text-center">
				<div class="extra_features_icon">
					<span class="psd"></span>
				</div>
				<h4 class="system_font_color text-uppercase">اتمام کار طبق برنامه زمانی</h4>
				<p></p>
			</div>
		</div>
		<div class="extra_feature_ph">
			<img class="img-responsive animate_bottom_60" src="assets/images/extra_feature_ph.png" alt="Extra_feature">
		</div>
	</div>
</section> -->
<!-- Extra_features section ends -->

<!-- Pricing section starts -->
<section id="pricing">
	<div class="container">
		<div class="row">
			<div class="title">
				<h2 class="text-center">قیمت <span class="theme_bolder">سرویس ها</span></h2>
				<div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
					<p>
						با کمترین هزینه ممکن، با متخصص ترین مترجمین ایران کار کنید
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- <div class="col-sm-4">
				<div class="pricing-table">
					<div class="pricing-table_header text-center">
						<div class="pricing_cost">
							Free
						</div>
						<h4>Standard</h4>
					</div>
					<div class="pricing-table_cnt text-center">
						<ul>
							<li>30 GB Storage</li>
							<li>500 GB Bandwidth</li>
							<li>24/7 Customer Support</li>
							<li>Virus Protected</li>
							<li>3-5 Business Day</li>
							<li>
								<a href="#" class="btn theme_btn">Order Now</a>
							</li>
						</ul>
					</div>
				</div>
			</div> -->
			<div class="col-sm-6">
				<div class="pricing-table">
					<div class="pricing-table_header general text-center">
						<div class="pricing_cost">
							<span>۵ هزار تومان</span>
							<h5>صفحه</h5>
						</div>
						<h4>عمومی</h4>
					</div>
					<div class="pricing-table_cnt text-center">
						<ul>
							<li>هر مدل متن عمومی</li>
							<li>ارتباط مستقیم با مترجم</li>
							<li>تحویل به صروت بخش بخش</li>
							<li>تایپ و ویرایش حرفه ای</li>
							<li>۲ صفحه اول رایگان</li>
							<li>۲۴ ساعت شبانه روز ۷ روز هفته</li>
							<li>
								<a href="#" class="btn theme_btn general">سفارش دهید</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="pricing-table">
					<!-- <div class="best_package">جدید</div> -->
					<div class="pricing-table_header technical text-center">
						<div class="pricing_cost">
							<span>۷ هزار تومان</span>
							<h5>صفحه</h5>
						</div>
						<h4>تخصصی</h4>
					</div>
					<div class="pricing-table_cnt text-center">
						<ul>
							<li>تمامی رشته ها و اسناد تجاری و غیر رسمی</li>
							<li>ارتباط مستقیم با مترجم</li>
							<li>سریع ترین زمان</li>
							<li>تایپ شده زیبا</li>
							<li>ویرایش شده مناسب</li>
							<li>دریافت و تحویل هر ساعت از شبانه روز</li>
							<li>
								<a href="#" class="btn theme_btn technical">سفارش دهید</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Pricing section ends -->


<!-- Working section starts -->
<section id="working">
	<div class="container">
		<div class="row">
			<div class="title">
				<div class="col-sm-6">
					<h2>چطور <span class="theme_bolder">کار میکند</span></h2>
					<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.  </p>
				</div>
			</div>
		</div>
		<div class="working_snap">
			<img class="img-responsive hidden-xs animate_top_60" src="assets/images/working_snap.png" alt="Working-Snaps">
		</div>
		<div class="row">
			<div class="col-sm-4 working_space">
				<div class="system_font_color">
					<h4>
						<span class="ti-wand mr10"></span>
						کاملن قشنگ
					</h4>
				</div>
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 working_space">
				<div class="system_font_color">
					<h4>
						<span class="ti-paint-bucket mr10"></span>
						چند رنگه
					</h4>
				</div>
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
			</div>
			<div class="col-sm-4 working_space">
				<div class="system_font_color">
					<h4>
						<span class="ti-envelope mr10"></span>
						ارتباط با مترجمین</h4>
				</div>
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 working_space">
				<div class="system_font_color">
					<h4>
						<span class="ti-ruler-pencil mr10"></span>
						۲ صفحه اول رایگان
					</h4>
				</div>
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
			</div>
			<div class="col-sm-4 working_space">
				<div class="system_font_color">
					<h4>
						<span class="ti-twitter mr10"></span>
						بات تلگرام 
					</h4>
				</div>
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
			</div>
			<div class="col-sm-4 working_space">
				<div class="system_font_color">
					<h4>
						<span class="ti-email mr10"></span>
						برآورد هزینه آنی
					</h4>
				</div>
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
			</div>
		</div>
	</div>
</section>
<!-- Working section ends -->


<!-- Subscribe section starts -->
<section id="subscribe"  data-parallax-background class="parallax-img" data-parallax-ratio="0.2" style="background-image: url(assets/images/bg_subscribe.jpg);">
	<div class="bg_layer"></div>
	<div class="container">
		<div class="row">
			<div class="title">
				<h2 class="text-center">عضو <span class="white_bolder">شوید</span></h2>
				<div class="col-xs-12 text-center">
					<p>
					میدونید ما هر هفته <span class="white_bolder">۱بار</span>
					 سفارش 
					 <span class="white_bolder">۱مشتری</span>
					  رو با 
				  	<span class="white_bolder">۱۰۰درصد</span> تخفیف انجام میدیم ؟ زودتر از بقیه مطلع بشید 
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-8 col-sm-offset-2">
			<div class="input-sub">
				<input placeholder="آدرس ایمیل خود را وارد کنید." type="text" class="form-control subscribe-form-control ">
				<button class="btn subscribe-button theme_btn" type="submit">الان عضو شو</button>
			</div>
		</div>
	</div>
</section>
<!-- Subscribe section ends -->


<!-- todo: should be responsive ! -->
<!-- Footer section starts -->
<footer>
	<div class="container contact_container">
		<div class="row">
			<div class="footer_data">
				<div class="col-sm-6 col-xs-6">
					<ul class="client_data">
						<li>
							<span class="contact"></span>
							<div class="client_detail">
								<h4>مشاوره رایگان</h4>
								<span>۰۹۳۵۵۵۲۰۲۰۸</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-sm-6 col-xs-6">
					<ul class="client_data">
						<li>
							<span class="email"></span>

							<div class="client_detail">
								<h4>تلگرام</h4>
								<span>@onita_telegram</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<section id="main_footer"   data-parallax-background class="parallax-img" data-parallax-ratio="0.2" style="background-image: url(assets/images/bg_footer.jpg);">
		<div class="bg_layer"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<a href="#"><h2 class="brand-logo mb30">اونیتا</h2></a>
					<p class="mb30">
						تخصصی ترین شبکه مترجمین آنلاین ، در سریع ترین زمان ممکن بالاترین کیفیت را از مترجمین ما بخواهید.
					</p>
					<div class="social_icons">
						<a href="#">
							<span class="fb_footer"></span>
						</a>
						<a href="#">
							<span class="twt_footer"></span>
						</a>
						<a href="#">
							<span class="pinit_footer"></span>
						</a>
						<a href="#">
							<span class="linkedin_footer"></span>
						</a>
					</div>
				</div>
				<!-- <div class="col-sm-offset-4"></div> -->
				<div class="col-sm-8 col-xs-12">
					<div class="middle_footer">
						<h4>Expert Translator ?</h4>
						<p class="mb30">
							Our customers are those who care about the details; the small stuff. If you genuinely want to deliver something that people love. we want you here.  We need you here. We have super ambitious goals that we think will genuinely make a difference for our customers.
						</p>
						<input class="form-control mb30" type="text" placeholder="Enter Email Address/Phone No.">
						<a href="#" class="btn theme_btn">Join Us</a>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_line text-center">
			<p>تمامی حقوق متعلق به &copy; اونتا می باشد</p>
		</div>
	</section>
</footer>
<!-- Footer section ends -->



<!-- Modal Templates Start Here -->
<script type="text/ng-template" id="modal-signup-form.html">
    <div class="modal-header">
        <h3 class="modal-title" id="">{{texts.header}}</h3>
    </div>
    <div class="modal-body" id="">
        <span ng-bind-html="texts.bodyContent"></span>
		<div class="container">
		  <div class="row">
		    <div class="giga-logo-container">
		      <a  href="/"><img id="giga-logo-portion" src="./images/giga-logo.png"/></a>
		    </div>
		    <div class="center-form panel" style="direction: ltr;">
		      <div class="panel-body">
		        <form method="post" ng-submit="signup()" name="signupForm">
		          <h2 class="text-center">ثبت نام </h2>

		          <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.firstName.$invalid && signupForm.firstName.$dirty }" style="direction:rtl">
		            <input class="form-control input-lg" type="text" name="firstName" ng-model="firstName" placeholder="
		نام
		            " required style="padding-right:42.5px;">
		            <span class="ion-person form-control-feedback"></span>
		            <div class="help-block text-danger" ng-if="signupForm.firstName.$dirty" ng-messages="signupForm.firstName.$error">
		              <div ng-message="required">
		               لطفا نام خود را مطابق با آنجه در شناسنامه/کارت ملی آمده است وارد کنید !
		              </div>
		            </div>
		          </div>
		          <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.lastName.$invalid && signupForm.lastName.$dirty }" style="direction:rtl">
		            <input class="form-control input-lg" type="text" name="lastName" ng-model="lastName" placeholder="
		نام خانوادگی
		            " required style="padding-right:42.5px;">
		            <span class="ion-ios-people form-control-feedback"></span>
		            <div class="help-block text-danger" ng-if="signupForm.lastName.$dirty" ng-messages="signupForm.lastName.$error">
		              <div ng-message="required">
		                لطفا نام خانوادگی خود را مطابق با آنجه در شناسنامه/کارت ملی آمده است وارد کنید !
		              </div>
		            </div>
		          </div>
		          <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.cellPhoneNumber.$invalid && signupForm.cellPhoneNumber.$dirty }">
		            <input class="form-control input-lg" type="text" name="cellPhoneNumber" ng-model="cellPhoneNumber" placeholder="شماره موبایل " required>
		            <span class="ion-android-call form-control-feedback"></span>
		            <div class="help-block text-danger" ng-if="signupForm.cellPhoneNumber.$dirty" ng-messages="signupForm.cellPhoneNumber.$error">
		              <div ng-message="required">شما باید شماره موبایل خود را وارد کنید !</div>
		            </div>
		          </div>

		          <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.email.$invalid && signupForm.email.$dirty }">
		            <input unique-email class="form-control input-lg" type="email" id="email" name="email" ng-model="email" placeholder="ایمیل" required autofocus>
		            <span class="ion-at form-control-feedback"></span>
		            <div class="help-block text-danger" ng-if="signupForm.email.$dirty" ng-messages="signupForm.email.$error">
		              <div ng-message="required">وارد کردن ایمیل الزامی است !</div>
		              <div ng-message="email">ایمیل شما صحیح نیست !</div>
		              <div ng-message="unique">
		                <span class="ion-looping"></span> با این ایمیل قبل ثبت نام شده است ! 
		              </div>
		            </div>
		          </div>

		          <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.password.$invalid && signupForm.password.$dirty }">
		            <input password-strength class="form-control input-lg" type="password" name="password" ng-model="password" placeholder="کلمه عبور " required>
		            <span class="ion-key form-control-feedback"></span>
		            <div class="help-block text-danger" ng-if="signupForm.password.$dirty" ng-messages="signupForm.password.$error">
		              <div ng-message="required">وارد کردن کلمه عبور الزامی است .</div>
		            </div>
		          </div>

		         <!-- <p class="text-center text-muted"><small>By clicking on Sign up, you agree to <a href="#">terms & conditions</a> and <a href="#">privacy policy</a></small></p>-->

		          <button type="submit" class="btn btn-block btn-post" style="color: #fff;">ثبت نام </button>
		          <br/>

		          <p class="text-center text-muted">قبلا ثبت نام کرده اید ؟ <a href="/login"> وارد شوید ;) </a></p>
		        </form>
		      </div>
		    </div>
		  </div>
		</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-lg btn-action" ng-click="ops.confirm()">{{texts.confirm}}</button>
        <button class="btn btn-lg btn-link " ng-click="ops.ignore()">{{texts.ignore}}</button>
    </div>
</script>
