<style>
    #how-to-use {

    }
    table {
        background-color: transparent;
    }
    table th {
        line-height: 18px;
        text-align: right;
    }
    .dataTable {
        table-layout: fixed;
        width: 100%;
        font-size: 12px;
        border: 1px solid #CACACA;
        border-spacing: 0;
        border-radius: 6px 6px 0px 0px;
        border-collapse: separate;
    }
    .dataTable thead th {
        vertical-align: bottom;
    }

    .dataTable th {
        padding: 10px;
    }
    .dataTable thead {
        color: #FFF;
    }
    .dataTable thead tr th:first-child {
        border-top-right-radius: 5px;
    }
    .dataTable thead tr th:last-child {
        border-top-left-radius: 5px;
    }
    .dataTable > thead > tr > th {
        border-bottom: 0 !important;
    }
    .dataTable th.title-col , .dataTable tbody th.title-col{
        /*width: 235px;*/
        widows: 32%;
    }
    .dataTable th.bids-col , .dataTable td.bids-col {
        /*width: 65px;*/
        width: 8%;
        padding-left: 0;
        padding-right: 15px;
        text-align: center;
    }
    .dataTable th.skills-col , .dataTable td.skills-col {
        /*width: 225px;*/
        width: 35%;
    }
    .dataTable th.started-col , .dataTable td.started-col {
        /*width: 115px;*/
        width: 10%;
    }
    .dataTable th.price-col , .dataTable td.price-col {
        /*width: 125px;*/
        width: 10%;
    }
    .dataTable th.bookmark-col , .dataTable td.bookmark-col {
        /*width: 25px;*/
        width: 5%;
        padding-right: 0;
        padding-left: 0;
    }
    .dataTable thead tr th {
        background-color: #33B5E6;
    }
    .dataTable tbody tr {
        cursor: pointer;
    }
    .dataTable tbody tr .bookmark-col .bookmark {
        display: block;
        width: 100%;
        cursor: pointer;
        text-align: center;
        min-height: 40px;
    }
    .bookmark {
        cursor : pointer;
    }
    .bookmark-inner .ion-heart {
        color: #CFD9DB;
    }
    .bookmark-inner .ion-heart:hover{
        color: #4AAFE6;
    }

</style>





<!--<div class="jumbotron">-->
    <!--<div class="container">-->
<!--&lt;!&ndash;        <ul class="alphabet">-->
            <!--<li ng-repeat="char in alphabet">-->
                <!--<span ng-click="filterByAlphabet(char)">{{char}}</span>-->
            <!--</li>-->
        <!--</ul>&ndash;&gt;-->
        <!--<ul class="genres">-->
            <!--<li ng-repeat="genre in genres">-->
                <!--<span ng-click="filterByGenre(genre)">{{genre}}</span>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->

<div class="container">
    <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">

                    فهرست پروژه ها و کار ها
                    <!--<div class="pull-right">-->
                        <!--<div class="mainnav">-->
                            <!--<ul>-->
                                <!--<li>-->
                                    <!--<a id="nav-questions"> سوالات-->
                                        <!--<span class="ind-tab">۱۰۰</span>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a id="nav-tags"> بر چسب ها-->
                                        <!--<span class="ind-tab">۵</span>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a id="nav-users"> کاربران-->
                                        <!--<span class="ind-tab">۷۴</span>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a id="nav-badges"> نشانه ها-->
                                        <!--<span class="ind-tab">۱۴</span>-->
                                    <!--</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="pull-left">-->
                        <!--<input class="search" type="text" ng-model="query.name" placeholder="جستجو ...">-->
                    <!--</div>-->
                </div>
                <div class="panel-body">
                    <div id="how-to-use">
                        <div id="hero-content">
                                    <span id="controls">
                                        <a id="tell-me-more" class="button">
چطور کار می کند ؟
                                        </a>
                                        <span id="close">
                                            <a title="click to dismiss">
                                                x
                                            </a>
                                        </span>
                                    </span>
                            <div id="blurb">
                                ده ها هزار فریلنسر در
                                <strong>
                                    خرکار
                                </strong>
                                آماده همکاری با شما هستند . پروژه خود را در
                                <strong>
خرکار
                                </strong>
                                و با بهترین کیفیت آنرا تحویل بگیرید .
                            </div>
                        </div>
                    </div>
                    <div class="row show-list">
                        <div class="col-md-10" style="border-left: 1px dotted #DDD">

                            <div class="projectTable">
                                <table class="table table-striped table-hover dataTable">
                                    <thead>
                                    <tr>
                                        <th class="title-col">
                                            Project Name
                                        </th>
                                        <th class="bids-col">
                                            Bids
                                        </th>
                                        <th class="skills-col">
                                            Skills
                                        </th>
                                        <th class="started-col">
                                            Started
                                        </th>
                                        <th class="price-col">
                                            Price
                                        </th>
                                        <th class="bookmark-col">

                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th class="title-col">
                                            Animate the SVG image
                                        </th>
                                        <td class="bids-col">
                                            12
                                        </td>
                                        <td class="skills-col">
                                            Javascript, Illustrator, HTML5, jQurey / Prototype
                                        </td>
                                        <td class="started-col">
                                            Today
                                        </td>
                                        <td class="price-col">
                                            $30 - $250
                                        </td>
                                        <td class="bookmark-col">
                                            <a class="bookmark">
                                                <div class="bookmark-inner">
                                                    <span class="ion-heart"></span>
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="title-col">
                                            Design for book cover
                                        </th>
                                        <td class="bids-col">
                                            7
                                        </td>
                                        <td class="skills-col">
                                            Graphic design
                                        </td>
                                        <td class="started-col">
                                            Today
                                        </td>
                                        <td class="price-col">
                                            $300 - $2500
                                        </td>
                                        <td class="bookmark-col">
                                            <a class="bookmark">
                                                <div class="bookmark-inner">
                                                    <span class="ion-heart"></span>
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="title-col">
                                            Server management
                                        </th>
                                        <td class="bids-col">
                                            21
                                        </td>
                                        <td class="skills-col">
                                            VPS, Linux, Redhat, Fedora
                                        </td>
                                        <td class="started-col">
                                            Yesterday
                                        </td>
                                        <td class="price-col">
                                            $1000
                                        </td>
                                        <td class="bookmark-col">
                                            <a class="bookmark">
                                                <div class="bookmark-inner">
                                                    <span class="ion-heart"></span>
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>



                            <div class="subheader">
                                <h1 id="h-top-question">
                                    سوالات را دنبال کنید :
                                </h1>
                            </div>
                            <div id="qlist">
                                <div id="q-mini-list">
                                    <div ng-repeat="course in courses | filter:query | orderBy:'rating':true" class="question-summary narrow">
                                        <a href="question/{{course._id}}/title/{{course.question[0].questionBody}}">
                                            <div class="cp">
                                                <div class="votes">
                                                    <div class="mini-counts">
                                                        <span>
                                                            ۲۳
                                                        </span>
                                                    </div>
                                                    <div>
                                                        رای
                                                    </div>
                                                </div>
                                                <div class="status answered-acc">
                                                    <div class="mini-counts">
                                                        <span>
                                                            ۴۳
                                                        </span>
                                                    </div>
                                                    <div>
                                                        جواب
                                                    </div>
                                                </div>
                                                <div class="views">
                                                    <div class="mini-counts warm">
                                                        <span>
                                                            ۱۰هزار
                                                        </span>
                                                    </div>
                                                    <div class="warm">
                                                        بازدید
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="summary">
                                                <h3>
                                                    <a class="question-hyperlink" href="question/{{course._id}}/title/{{course.question[0].questionBody}}">
                                                        {{course.question[0].questionBody}}
                                                    </a>
                                                </h3>
                                                <div class="tags"></div>
                                                <div class="started">
                                                    <a class="started-link">
                                                        پرسیده شده توسط
                                                        <span class="relativetime">
                                                            {{course.question[0].questionTime}}
                                                        </span>
                                                    </a>
                                                    <a>
                                                        {{course.question[0].questionerName}}
                                                    </a>
                                                    <!--<span class="reputation-score">11K</span>-->
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="question-summary-002" class="question-summary narrow">
                                        <div class="cp">
                                            <div class="votes">
                                                <div class="mini-counts">
                                                    <span>
                                                        ۶
                                                    </span>
                                                </div>
                                                <div>
                                                    رای
                                                </div>
                                            </div>
                                            <div class="status answered-acc">
                                                <div class="mini-counts">
                                                    <span>
                                                        ۴
                                                    </span>
                                                </div>
                                                <div>
                                                    جواب
                                                </div>
                                            </div>
                                            <div class="views">
                                                <div class="mini-counts warm">
                                                    <span>
                                                        ۸هزار
                                                    </span>
                                                </div>
                                                <div class="warm">
                                                    بازدید
                                                </div>
                                            </div>
                                        </div>
                                        <div class="summary">
                                            <h3>
                                                <a class="question-hyperlink">
                                                    چطوری می تونم پیوستگی یک تابع رو متوجه بشم ؟
                                                </a>
                                            </h3>
                                            <div class="tags"></div>
                                            <div class="started">
                                                <a class="started-link">
                                                    جواب داده شده
                                                    <span class="relativetime">
                                                        ۹ دقیقه پیش
                                                    </span>
                                                </a>
                                                <a>
                                                    user91152802
                                                </a>
                                                <!--<span class="reputation-score">11K</span>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--the below part is not important -->

                            <!--<div class="fade-repeat col-xs-4 col-md-6" ng-repeat="course in courses | filter:query | orderBy:'rating':true">
                                <a href="question/{{course._id}}/title/{{course.question[0].questionBody}}">
                                    <!--<img class="img-rounded" ng-src="{{course.image}}" width="100%"/>-->

                                <!--<div class="text-center">-->
                                    <!--<h4 href="/shows/{{course._id}}">{{course.title}}</h4>-->
                                    <!--<p class="text-muted">استاد : {{course._creator.name}}</p>-->

                                <!--</div>-->
                                <!--</a>-->
                            <!--</div>&ndash;&gt;-->
                        <!--</div>-->

                        <!--col-md-10 last line-->

                        <div class="col-md-2">

                            <!--<accordion>-->
                                <!--<accordion-group heading="first title">-->
                                    <!--<button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>-->
                                    <!--This is the first content !-->
                                    <!--<div ng-repeat="item in items">{{item}}</div>-->
                                <!--</accordion-group>-->
                                <!--<accordion-group heading="second title">-->
                                    <!--This is the second content !-->
                                <!--</accordion-group>-->
                            <!--</accordion>-->
                        </div>
                    </div>

                <!--row - show-list last line-->

                </div>
            </div>

            <!--panel last line-->

        </div>

        <!--col-md-9 last line -->

    </div>

    <!--container last line-->
