<div class="jumbotron">
    <div class="container">
        <!--        <ul class="alphabet">
                    <li ng-repeat="char in alphabet">
                        <span ng-click="filterByAlphabet(char)">{{char}}</span>
                    </li>
                </ul>-->
        <ul class="genres">
            <li ng-repeat="genre in genres">
                <span ng-click="filterByGenre(genre)">{{genre}}</span>
            </li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-right">
                <div class="mainnav">
                    <ul>
                        <li>
                            <a id="nav-questions"> سوالات
                                <span class="ind-tab">۱۰۰</span>
                            </a>
                        </li>
                        <li>
                            <a id="nav-tags"> بر چسب ها
                                <span class="ind-tab">۵</span>
                            </a>
                        </li>
                        <li>
                            <a id="nav-users"> کاربران
                                <span class="ind-tab">۷۴</span>
                            </a>
                        </li>
                        <li>
                            <a id="nav-badges"> نشانه ها
                                <span class="ind-tab">۱۴</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pull-left">
                <input class="search" type="text" ng-model="query.name" placeholder="جستجو ...">
            </div>
        </div>
        <div class="panel-body">
            <div id="how-to-use">
                <div id="hero-content">
                    <span id="controls">
                        <a id="tell-me-more" class="button">
                            چگونه کار می کند ؟
                        </a>
                        <span id="close">
                            <a title="click to dismiss">
                                x
                            </a>
                        </span>
                    </span>
                    <div id="blurb">
                        اس اس پی اینتراکشن مکانی برای پرسش و پاسخ است . نفرات برتر ایران در رشته ی تخصصی سوال شما آماده پاسخگویی به تمامی سوالات شما هستند.
                    </div>
                </div>
            </div>
            <div class="row show-list">
                <div class="col-md-9" style="border-left: 1px dotted #DDD">
                    <div class="subheader">
                        <h1 id="h-top-question">
سوال :
                        </h1>
                    </div>
                    <div id="qlist">
                        <div id="q-mini-list">
                            <div id="question-summary-001" class="question-summary narrow">
                                <div class="cp">
                                    <div class="votes">
                                        <div class="mini-counts">
                                            <span>
                                                ۲۳
                                            </span>
                                        </div>
                                        <div>
                                            رای
                                        </div>
                                    </div>
                                    <div class="status answered-acc">
                                        <div class="mini-counts">
                                            <span>
                                                ۴۳
                                            </span>
                                        </div>
                                        <div>
                                            جواب
                                        </div>
                                    </div>
                                    <div class="views">
                                        <div class="mini-counts warm">
                                            <span>
                                                ۱۰هزار
                                            </span>
                                        </div>
                                        <div class="warm">
                                            بازدید
                                        </div>
                                    </div>
                                </div>
                                <div class="summary">
                                    <h3>
                                        <a class="question-hyperlink">
                                            {{course.question[0].questionBody}}
                                        </a>
                                    </h3>
                                    <div class="tags"></div>
                                    <div class="started">
                                        <a class="started-link">
                                            جواب داده شده
                                            <span class="relativetime">
                                                ۸ ساعت پیش
                                            </span>
                                        </a>
                                        <a>
                                            توسط :
                                            user91152802
                                        </a>
                                        <!--<span class="reputation-score">11K</span>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tutor"></div>
                    <div class="subheader">
                        <h1 id="h-top-answer">
پاسخ :
                        </h1>
                    </div>
                    <div id="alist">
                        <div class="answers">
                            <div class="ans-li" ng-repeat="question in course.question">
                                <div class="question-summary narrow">
                                    <div class="cp">
                                        <div class="user-ava">
                                            <img class="img-rounded" ng-src="{{course.image}}" alt="user-avatar"/>
                                        </div>
                                        <div class="user-info text-muted">
                                            {{course.instructor}}
                                        </div>
                                    </div>
                                    <div class="answer-box summary">
                                        <div class="answer-content">
                                            <h3 id="answerBody">{{question.questionBody}}</h3>
                                            <div class="tags"></div>
                                            <div class="started">
                                                <a class="started-link">
                                                    جواب داده شده
                                            <span class="relativetime">
                                                ۸ ساعت پیش
                                            </span>
                                                </a>
                                                <a>
                                                    توسط :
                                                    {{question.questionerId}}
                                                </a>
                                            </div>
                                            <div class="answerComments"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="userAsnwer">
                                <div class="question-summary narrow">
                                    <div class="cp">
                                        <div class="user-ava">
                                            <img class="img-rounded" ng-src="{{course.image}}" alt="user-avatar"/>
                                        </div>
                                        <div class="user-info text-muted">
                                            {{course.instructor}}
                                        </div>
                                    </div>
                                    <div class="answer-box summary">
                                        <div class="answer-content">
                                            <div class="form-group">
                                                <label>
                                                    جواب خود را در اینجا بنویسید ...
                                                </label>
                                                <textarea class="form-control" rows="4" id="userAnswer" ng-model="userAnswer"></textarea>
                                                <button type="submit" class="btn btn-info" style="float:left;margin: 20px 0px;" ng-click="record(course._id, userAnswer);">
                                                    ثبت کن
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="userAsnwer not-Signedin" >
                                <div class="question-summary narrow">
                                    <div class="cp">
                                    </div>
                                    <div class="answer-box summary">
                                        <div class="answer-content">
                                            <div class="text-center" style="position: relative;">
                                                <textarea disabled="true" class="form-control" rows="4"></textarea>
                                                <div style="position: absolute; left: 10px; right: 10px; top: 20%;" class="alert alert-info" role="alert">
                                                    <h3>
برای ثبت جواب می بایست وارد حساب کاربری خود شوید .
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>
</div>